{% load bootstrap4 static i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <title>{% translate 'Password reset' %}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css' %}" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/cdd.css' %}" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
</head>

<body class="hold-transition login-page">
    {%  if OTHER_LANGUAGES %}
        <nav class="main-header navbar navbar-expand">
            <ul class="navbar-nav ml-auto">
                {% include 'layouts/language_dropdown.html' %}
            </ul>
        </nav>
    {% endif %}
    <div class="">
        <div class="login-logo" style="float: left;"><b>{% translate 'Password reset' %}</b></div>
        <div class="clearfix"></div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <div class="alert-div-content">
                    <span id="popup-messages-content">
                        {% include 'common/messages.html' %}
                    </span>
                </div>
                
                <p class="">
                    {% translate "To ensure the security of your account, we are obliged to send an e-mail containing a validation code to your e-mail address." %}<br />
                    {% translate "Note: This process will reset your passwords for the CDD, GRM, and/or MIS platforms if you have an account on any of these platforms." %}
                </p>
                <p class="">
                    {% translate "Please enter your e-mail address in the following field" %}
                </p>

                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12 form-group">
                            {% if msg %}
                            <span style="display: block; font-size: 15px; color: red; margin-bottom: -15px;" id="unknow_email_error_message">{{ msg }}</span><br />
                            {% endif %}
                            <div class="input-group show_hide_password" id="show_hide_password_current">
                                <input class="form-control" type="email" id="email" name="email" required placeholder='{% translate "E-mail address" %}'>
                            </div>
                        </div>
                        <input type="hidden" id="redirection_url" name="redirection_url" value="{{ redirection_url }}">

                        <span class="col-12" style="display: block; font-size: 15px; color: green;" id="sending_mail"></span>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="btn-send-mail">
                                {% translate "Send" %}
                            </button>
                            <br />
                            <p>{% translate "I remember my password" %}. <a href="{{ redirection_url }}"> {% translate "Log in" %} <a/></p>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                {% comment %}
                <p class="mb-1">
                    #} {# <a href="forgot-password.html">I forgot my password</a>#} {#
                </p>
          {% endcomment %}
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
    <!-- Django Translation -->
    <script src="{% static 'js/setLanguajeDjangoTranslation.js' %}"></script>

    <script>
        
        $(document).ready(function () {

            var sending_mail = $('#sending_mail');
            sending_mail.hide();
            $("#btn-send-mail").on('click', function(event) {
                $("#btn-send-mail").html(`{% translate "Sending..." %}`);
                {% comment %} $("#btn-send-mail").prop('disabled', true); {% endcomment %}

                sending_mail.text(`{% translate "An e-mail is being sent to your e-mail address." %}`);
                sending_mail.show();
            });



            $('#email').on('keyup', function(event) {
                $('#unknow_email_error_message').hide();
            });


        }); 
    </script>

  </body>
</html>
