{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}
{% block extracss %}
    {{ block.super }}
    <style>
        #table {
            border-collapse: separate;
            border-spacing: 0;
            border: 0;
            border-radius: 10px 0 0 0 !important;

            & thead th {
                border: 1px solid #f2f2f2 !important;

                font-weight: bolder !important;;
                height: 36px;
                padding: 0 25px 0 10px;

                &:not([class^="bg-"]) {
                    background-color: #f2f2f2 !important;
                }

                &:after, &:before {
                    top: 30%;
                }

                &:last-of-type {

                    border-radius: 0 10px 0 0 !important;
                }

                &:not(&:last-child) {
                    border-right-color: #c1c1c1 !important;
                }

                &:last-child {
                    border-right-color: transparent !important;
                }

                &:first-child {
                    border-left-color: transparent !important;
                }
            }


            & thead th:first-of-type {

                border-radius: 10px 0 0 0 !important;
            }

            & tbody td {
                border-bottom-width: 1px !important;
                padding-top: 10px;
                padding-bottom: 10px;
            }


            & tbody tr:last-of-type {
                border-radius: 0 10px 0 0 !important;
            }

            & tbody tr:not(.even):not(.odd):last-of-type, & tbody tr:not(.even):not(.odd):last-of-type td[colspan="8"] {
                border-radius: 0 0 10px 10px !important;
            }

            & tbody td:first-of-type {
                border-left: 1px solid #e2e1e1 !important;
            }

            & tbody td:last-of-type td {
                border-left: 1px solid #e2e1e1 !important;
            }

            & tbody td:not(:first-of-type) {
                border-left: 0;

            }

            & tbody td:not(:last-of-type) {
                padding: 0 25px 0 10px;
                border-right: 0;
            }

            & tbody tr {
                border-bottom: 1px solid #e2e1e1 !important;
                border-right: 1px solid #e2e1e1 !important;
                border-left: 1px solid #e2e1e1 !important;

                &:last-of-type td:first-of-type {
                    border-radius: 0 0 0 10px !important;

                }

                &:last-of-type td:last-of-type {
                    border-radius: 0 0 10px 0 !important;

                }
            }

        }

        .search-bar {
            height: 40px;
        }

        .form-group {
            margin-bottom: 0;
            margin-top: 1px;
        }

        .dt-buttons, #table_length {
            display: inline-flex;
            max-width: 50%;
            flex: 0 0 50%;
            width: 50%;
        }

        .dt-buttons button {
            color: #ffffff !important;
            background-color: #24c38b;
            border-color: #24c38b;
            box-shadow: none;
            border-style: none;
            margin-right: 5px;
            padding: 5px;
            border-radius: 7px !important;
        }

        #table_length label {
            margin-left: auto;
        }

        .no-sort:before, .no-sort:after {
            display: none !important;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">



            <div id="users-diagnostics">
                <p>{% translate "Loading user diagnostics" %}...</p>
            </div>



            <div class="row">
                <div class="col-12">
                    <div class="clearfix">
                        <div class="float-left">
                            <h6 class="text-danger">{% translate 'Dashboard users' %} ({{ PROJECT_NAME }}: {{ total_users_dashboard }}; {% translate 'All' %}: {{ global_total_users_dashboard }})</h6>
                        </div>
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <div class="float-right mb-3">
                            <a href="{% url 'dashboard:authentication:user_create' %}"
                            class="btn btn-primary btn-sm rounded-xl">
                                <i class="fa fa-plus mr-2"></i>
                                {% translate "Create User" %}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            

            <div class="clearfix"></div>
             
            
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search" placeholder="{% translate 'Search by name' %}...">
            </div>

            <div class="card">
                <div class="card-body table-responsive">
                    
                    <div class="card">
                        <div class="card-body table-responsive">
                            <table id="table" class="table">
                                <thead>
                                <tr>
                                    <th >{% translate 'Name' %}</th>
                                    <th >{% translate 'Username' %}</th>
                                    <th >{% translate 'Email' %}</th>
                                    <th >{% translate 'Group' %}</th>
                                    {% if user.is_superuser or user|has_group:"Admin" %}<th >
                                        {% translate 'Action' %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for user_obj in users %}
                                    <tr>
                                        <td align="left">{{ user_obj.get_full_name }}</td>
                                        <td>{{ user_obj.username }}</td>
                                        <td>{{ user_obj.email }}</td>
                                        <td>{{ user_obj|get_group_high }}</td>
                                        {% if user.is_superuser or user|has_group:"Admin" %}
                                        <td>
                                            <a href="{% url 'dashboard:authentication:user_update' user_obj.pk %}" 
                                                class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                                <span class="_web">{% translate 'Edit' %}</span>
                                                <span class="_mobile"><i class="fa fa-edit"></i></span>
                                            </a>
                                            <a href="{% url 'dashboard:authentication:user_delete' user_obj.pk %}" 
                                                class="btn btn-danger btn-xs" title="{% translate 'Delete' %}">
                                                <span class="_web">{% translate 'Delete' %}</span>
                                                <span class="_mobile"><i class="fa fa-trash"></i></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>






                </div>
            </div>



        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!-- DataTables export files -->
    {% include 'layouts/datatable-js.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "Blrtip",
                buttons: [ 'copy', 'excel', 'colvis' ],
                {% comment %} columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ], {% endcomment %}
                lengthMenu: [10, 20, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script>



    <script type="text/javascript">

        $(document).ready(function () {
            
            let users_diagnostics = $('#users-diagnostics');
            $.ajax({
                type: "GET",
                url: `{% url 'dashboard:authentication:get_users_diagnostics_view' %}`,
                data: {
                },
                success: function (response) {
                    users_diagnostics.html('');
                    users_diagnostics.html(response);
                },
                error: function (data) {
                    alert(error_server_message + "Error " + data.status);
                }
            });

                        
        });
    </script>
    


{% endblock %}

{% block select2 %}
    
    
{% endblock select2 %}