{% load static i18n custom_tags %}

<div class="modal-header">
    <h4 class="modal-title text-primary" id="taskModalTitle">
        {{ task.name }}
    </h4>
        <span class="badge badge-pill badge-lg badge-info ml-1" id="taskModalStatus">
            {{ task.status }}
        </span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class="modal-body">
        <p id="taskModalDescription">{{ task.description }}</p>
        {% with task.task|structureTheFieldsLabels as liste %}
        {% for fields in liste %}
            {% include "administrative_levels/_task_detail_fields.html" with fields=fields %}
        {% endfor %}
        {% endwith %}

        {% if task.task.attachments %}
        {% for attach in task.task.attachments %}
            <div class="form-group">
                <label>{{ attach.name }}</label>
                <div class="col-sm-9 attach-file">
                    {% if attach.attachment.uri %}
                        {% if "file:///data" in attach.attachment.uri %}
                            <p><i class="fas fa-paperclip mr-2"></i>Not synchronized</p>
                        {% elif ".pdf" in attach.attachment.uri %}
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank" >
                                <iframe src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="250" height="300"></iframe>
                            </a>
                        {% elif ".docx" in attach.attachment.uri or ".doc" in attach.attachment.uri %}
                            <a href="{% url 'download_from_url' %}?url={{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                Download {{ attach.name }}
                            </a>
                        {% else %}
                            <a href="{% url 'download_from_url' %}?url={{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank" >
                                <img src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="200" height="200" />
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}

        {% endif %}

    </div>

