files:
    "/etc/nginx/conf.d/01_send_timeout.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            location / {
                send_timeout 1800s; # 30minutes in seconds
            }
    "/etc/nginx/conf.d/01_proxy_send_timeout.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            location / {
                proxy_read_timeout 1800s; #30 minutes in seconds
            }
