{% load static i18n custom_tags %}


{% comment %} <div class="card">
    <div class="card-body">
        <span class="text-bold-family fs17">{% translate 'Tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_completed }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Tasks uncompleted' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_uncompleted }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Percentage of the tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ percentage_tasks_completed|floatformat:"2" }} %</span>
    </div>
</div> {% endcomment %}
<div class="card">
    <div class="card-body table-responsive">
        <table id="table" class="table">
            <thead>
            <tr>
                <th>{% translate 'N°' %}</th>
                <th>{% translate 'CVD' %}</th>
                <th>{% translate 'Village(s)' %}</th>
                <th>{% translate 'Completed' %}</th>
                <th>{% translate 'Uncompleted' %}</th>
                <th>{% translate 'Percentage' %}</th>

                <th>{% translate 'Not started' %}</th>
                <th>{% translate 'In progress' %}</th>
                <th>{% translate 'Invalidated (Reset in progress)' %}</th>
                <th>{% translate 'Completed (Awaiting validation)' %}</th>
                <th>{% translate 'Invalidated tasks reviewed by the facilitator (Pending validation)' %}</th>
                <th>{% translate 'Invalidated (Not returned after invalidation)' %}</th>
                <th>{% translate 'Invalidated' %}</th>
                <th>{% translate 'Validated' %}</th>
            </tr>
            </thead>
            <tbody>
                {% for cvd_name, infos in dict_administrative_levels_with_infos.items %}
                <tr style="{% if infos|get:"stabilized" %}color: green;font-weight:bold;{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td align="left">{% with infos|get:"cvd" as cvd %}{{ cvd|get:"cvd_name" }}{% endwith %}</td>
                    {% comment %} {% for key, value in infos.items %}
                        {% if key == "percentage_tasks_completed" %}
                        <td>{{ value|floatformat:"2"  }}%</td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %} {% endcomment %}
                    <td align="left">
                        {% with infos|get:"cvd" as cvd %}
                            {% with cvd|get:"villages" as villages %}
                                {% for Village in villages %}
                                    {% if forloop.last %}
                                        {{ forloop.counter }}- {{ Village|get:"name" }}
                                    {% else %}
                                        {{ forloop.counter }}- {{ Village|get:"name" }}<br />
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                        
                    </td>
                    <td>{{ infos|get:"total_tasks_completed" }}</td>
                    <td>{{ infos|get:"total_tasks_uncompleted" }}</td>
                    <td>
                        {% with infos|get:"percentage_tasks_completed" as percentage_tasks_completed %}
                            {{ percentage_tasks_completed|floatformat:"2"  }}%
                        {% endwith %}
                    </td>
                    
                    <td>{{ infos|get:"total_tasks_not_started" }}</td>
                    <td>{{ infos|get:"total_tasks_in_progress" }}</td>
                    <td>{{ infos|get:"total_tasks_invalidated_reset_in_progress" }}</td>
                    <td>{{ infos|get:"total_tasks_completed_awaiting_validation" }}</td>
                    <td>{{ infos|get:"total_tasks_invalidated_updated_after_invalidation" }}</td>
                    <td>{{ infos|get:"total_tasks_invalidated_not_returned_after_invalidation" }}</td>

                    <td>{{ infos|get:"total_tasks_invalidated" }}</td>
                    <td>{{ infos|get:"total_tasks_validated" }}</td>
                </tr>
                {% endfor %}
                {% if dict_administrative_levels_with_infos|length > 1 %}
                <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td align="left">{{ nbr_villages }}</td>
                    <td><b>{{ total_tasks_completed }}</b></td>
                    <td><b>{{ total_tasks_uncompleted }}</b></td>
                    <td><b>{{ percentage_tasks_completed|floatformat:"2" }}%</b></td>
                    
                    <td><b>{{ total_tasks_not_started }}</b></td>
                    <td><b>{{ total_tasks_in_progress }}</b></td>
                    <td><b>{{ total_tasks_invalidated_reset_in_progress }}</b></td>
                    <td><b>{{ total_tasks_completed_awaiting_validation }}</b></td>
                    <td><b>{{ total_tasks_invalidated_updated_after_invalidation }}</b></td>
                    <td><b>{{ total_tasks_invalidated_not_returned_after_invalidation }}</b></td>
                    
                    <td><b>{{ total_tasks_invalidated }}</b></td>
                    <td><b>{{ total_tasks_validated }}</b></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-2 text-left">
        <div class="fs28 lh35 text-primary text-bold-family" style="font-size: 16px !important;">
            {% translate 'Task List' %}<br>
        </div>
    </div>
</div>

{% for task in tasks %}
    <div class="card-item js-open-task-modal" data-no-sql-db-name="{{ task|get:'_source_db_name'|default:facilitator_db_name }}" data-task-id="{{ task|get:'_id' }}" style="cursor: pointer;" >
        <div class="row">
            <div class="col-sm-7">
                <div class="phase-title">
                    <span id="task_number_{{ task|get:'_id' }}" style="color: white;" class="btn {% if task.completed %}badge-completed{% else %}badge-pending{% endif %}">{{ task.phase_order }}.{{ task.activity_order }}.{{ task.order }}</span> {{ task.name }}
                    {% if task.non_blocking %}
                    <i class="fas fa-unlink text-muted ml-1" title="{% translate 'Independent task — does not have to be completed before the next one' %}"></i>
                    {% endif %}
                </div>
                <div class="phase-title mt-3 mb-2">
                    {{ task.administrative_level_name }}, {% translate 'Phase' %}: {{ task.phase_name }},
                    {% translate 'Activity' %}: {{ task.activity_name }}
                </div>
                <div class="border-separator"></div>
                
                <div class="text-bold-family mt-2 mb-2">
                    {% if task.attachments|length != 0 %}
                        {% translate "Attachments" %}
                    {% else %}
                        {% translate "No attachments" %}
                    {% endif %}
                </div>
                
                {% for attachment in task.attachments %}
                    {% if attachment.cloud_url %}
                        <a class="link-attachment mt-2" href="{{ attachment.cloud_url }}"
                           target="_blank">
                            <i class="fas fa-paperclip mr-2"></i>
                            {{ attachment.name }}
                        </a>
                    {% else %}
                        <i class="fas fa-paperclip mr-2"></i>
                        {{ attachment.name }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-2">
                <div class="badge-closed-at">
                    <i class="far fa-calendar-alt text-warning"></i>
                    {% translate 'Completed on' %}:
                    {% if task.completed_date and task.completed_date != "0000-00-00 00:00:00" %}
                        {{ task.completed_date|default:'-' }}
                    {% else %}
                        {{ task.date_action_complete_by|default:'-' }}
                    {% endif %}
                </div>
                <div class="badge-closed-at mt-1  text_{{ task|get:'_id' }}">
                    {% comment %} {% if task.completed and task.attachments %}
                        <i class="fas fa-check success-color"></i>
                    {% elif task.completed and not task.attachments %}
                        <i class="fas fa-exclamation-triangle warning-color"></i>
                    {% else %}
                        <i class="fas fa-clock gray-color"></i>
                    {% endif %}
                    {% translate 'Proof of completion' %} {% endcomment %}
                    {% if task.validated %}
                        <i class="fas fa-check success-color"></i> {% translate 'Task validated' %}
                    {% else %}
                        {% if task.validated == False %}
                            <i class="fas fa-times warning-color"></i> 
                            {% translate 'Task not validated' %}
                        {% else %}
                            <i class="fas fa-exclamation-triangle warning-color"></i> 
                            {% translate 'Unseen task' %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3 text-right text_completed_{{ task|get:'_id' }}">
                {% comment %} {% if task.completed %}
                    <div class="status-badge badge-completed">
                        {% translate 'Completed' %}
                    </div>
                {% else %}
                    <div class="status-badge badge-pending">
                        {% translate 'Pending' %}
                    </div>
                {% endif %} {% endcomment %}

                {% if not task.completed %}
                    {% if task.form_response and task.form_response|length != 0 %}
                        {% if task.validated == False %}
                            <div class="status-badge-no-size badge-secondary">{% translate 'Invalidated (Reset in progress)' %}</div>
                        {% else %}
                            <div class="status-badge badge-pending">{% translate 'In progress' %}</div>
                        {% endif %}
                    {% else %}
                        <div class="status-badge badge-pending">{% translate 'Not started' %}</div>
                    {% endif %}
                {% else %}
                    {% if task.validated == True %}
                        <div class="status-badge badge-completed">{% translate 'Validated' %}</div>
                    {% elif task.validated == False %}
                        {% if task.updated_after_invalidation %}
                            <div class="status-badge-no-size badge-warning">{% translate 'Invalidated (Updated after invalidation)' %}</div>
                        {% else %}
                            <div class="status-badge-no-size badge-danger">{% translate 'Invalidated (Not returned after invalidation)' %}</div>
                        {% endif %}
                    {% else %}
                        <div class="status-badge-no-size badge-pending">{% translate 'Completed (Awaiting validation)' %}</div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>


    


    {% comment %} {% for attach in task.attachments %}{% if attach.attachment.uri %}
    <!-- Modal -->
    <div class="modal fade" id="item-attach-{{ forloop.counter }}" tabindex="-2" role="dialog"
        aria-labelledby="attach" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

                <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" class="btn btn-primary" target="_blank" >
                    <img src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="700" height="700" />
                </a>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    {% endif %}{% endfor %} {% endcomment %}

{% empty %}
    <div class="text-center">
        {% translate 'No tasks found' %}
    </div>
{% endfor %}







