{% load static i18n custom_tags %}


{% comment %} <div class="card">
    <div class="card-body">
        <span class="text-bold-family fs17">{% translate 'Tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_completed }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Tasks uncompleted' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_uncompleted }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Percentage of the tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ percentage_tasks_completed|floatformat:"2" }} %</span>
    </div>
</div> {% endcomment %}
<div class="card">
    <div class="card-body table-responsive">
        <table id="table" class="table">
            <thead>
            <tr>
                <th>{% translate 'Village(s)' %}</th>
            </tr>
            </thead>
            <tbody>
          {% for cvd_name, infos in dict_administrative_levels_with_infos.items %}
                <tr>
                    <td align="left">
                        {% with infos|get:"cvd" as cvd %}
                            {% with cvd|get:"villages" as villages %}
                                {% for Village in villages %}
                                    {% if forloop.last %}
                                        {{ forloop.counter }}- {{ Village|get:"name" }}
                                    {% else %}
                                        {{ forloop.counter }}- {{ Village|get:"name" }}<br />
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}

                    </td>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
