{% load static i18n custom_tags %}


{% with task|structureTheFieldsLabels as liste %}
{% for fields in liste %}
    {% include "facilitators/_task_form_fields.html" with fields=fields %}
{% endfor %}
{% endwith %}




{% if task.attachments %}
{% for attach in task.attachments %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ attach.name }}</label>
        <div class="col-sm-9 attach-file">
            {% include "facilitators/_task_attachment.html" with attach=attach %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}
{% endif %}
