{% comment %} {% extends 'layouts/base.html' %} {% endcomment %}
{% load bootstrap4 static i18n custom_tags %}
{% comment %} {% block extracss %} {% endcomment %}
    <style>
        

    </style>
{% comment %} {% endblock %}
{% block content %} {% endcomment %}
    <div class="row">
        <div class="col-md-12">


            <div class="clearfix"></div>


            <div class="card transparent">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="card">
                            
                            <div class="card-body">
                            
                                        
                                <fieldset>
                                    {% comment %} <legend  class="text-primary text-bold">{% translate "Select dates" %}</legend> {% endcomment %}

                                    <div class="row">

                                        <div class="col-5">
                                            <div class="form-group" style="margin-top: 25px;">
                                                <p class="text-muted small mb-1">{% translate 'Generate a download link' %} :</p>
                                                {% for project in cdd_projects %}
                                                    <button type="button"
                                                        class="btn btn-primary btn-sm mr-2 mb-2 report-download-btn stat_generate"
                                                        data-project="{{ project.name }}">
                                                        <i class="fas fa-file-excel mr-2"></i>{{ project.name }}
                                                    </button>
                                                {% empty %}
                                                    <span class="text-muted small">{% translate "No project available." %}</span>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        {% if user.is_superuser or user|has_group:"Admin" %}
                                        <div class="col-7">
                                            
                                            <div class="btn-group pull-right" style="margin-top: 25px; font-size: 11px !important;">
                                                {% include 'components/modal_upload_one_sheet.html' with type_object="statistic_file" upload_url="dashboard:statistics:app_excel_statistics_upload" %}
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="clearfix"></div>

                                    </div>

                                </fieldset>
                                

                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>




            <div class="card">
                <div class="card-body table-responsive">
                    <div id="pdf-display">
                        {% comment %} <iframe src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="250" height="300"></iframe> {% endcomment %}
                    </div>
                </div>
                <div class="overlay" id="spin-pdf">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>


        </div>

    </div>

<input type="hidden" name="type_field" id="id_type_field" value="" />

{% comment %} {% endblock %} {% endcomment %}





{% comment %} {% block javascript %}
    {{ block.super }} {% endcomment %}


    <script src="{% static 'js/cascade_requests.js' %}"></script>
    <script type="text/javascript">
        var type_field = "";
        var spin_pdf = $('#spin-pdf');
        spin_pdf.hide();

        window.reportDownloadUI = window.reportDownloadUI || (function () {
            var SEL = "a.report-download-btn, button.report-download-btn";
            var busy = false;
            var LABEL = "{% translate 'Download in progress...' %}";
            return {
                isBusy: function () { return busy; },
                begin: function ($btn) {
                    if (busy) { return false; }
                    busy = true;
                    $(SEL).addClass("disabled").prop("disabled", true).attr("aria-disabled", "true");
                    $(".download-inline-status").remove();
                    $('<span class="download-inline-status text-primary small ml-2">'
                        + '<i class="fas fa-spinner fa-spin mr-1"></i>' + LABEL + '</span>')
                        .insertAfter($btn);
                    $("#download-complete-message").hide();
                    return true;
                },
                end: function (showComplete) {
                    busy = false;
                    $(SEL).removeClass("disabled").prop("disabled", false).removeAttr("aria-disabled");
                    $(".download-inline-status").remove();
                    if (showComplete) {
                        $("#download-complete-message").show();
                        setTimeout(function () { $("#download-complete-message").hide(); }, 5000);
                    }
                }
            };
        })();

        $("#clear_all_filters").on("click", function () {
            $('.facilitators-filter input').val('');
            $('.facilitators-filter select').val(null).trigger('change.select2');
            
        });


        $('fieldset select').on('change', function () {
            $('#pdf-display').html(``);
        });
        $('fieldset input').on('change', function () {
            $('#pdf-display').html(``);
        });


        $(".stat_generate").click(function(event){
            event.preventDefault();
            var $btn = $(this);
            if (!window.reportDownloadUI.begin($btn)) { return; }

            let val_facilitator = $("#id_facilitator").val();
            let project = $btn.data('project');

            spin_pdf.show();

            let href = `{% url 'dashboard:statistics:app_excel_statistics' %}`;

            href += (`?id_region=` + id_region.val() +
            `&id_prefecture=` + id_prefecture.val() + `&id_commune=` + id_commune.val() + `&id_canton=` + id_canton.val() +
            `&id_village=` + id_village.val() + `&administrative_level_id=` + administrative_level_id + `&type_field=` + administrative_level_type +
            `&is_training=` + "{{ is_training }}" + `&is_develop=` + "{{ is_develop }}");

            if(!['', ' ', null, undefined, []].includes(project)){
                href += `&project=` + encodeURIComponent(project);
            }

            if(!['', ' ', null, undefined, []].includes(val_facilitator)){
                href += `&facilitator_db_name=` + val_facilitator;
            }

            $('#pdf-display').append(`
            <div class="mb-1"><span class="badge badge-primary mr-2">`+ project +`</span>
            <a target="_blank" href="`+ href +`">{% translate 'Link generated. Click to generate the EXCEL' %}</a></div>
            `);
            spin_pdf.hide();
            setTimeout(function () { window.reportDownloadUI.end(false); }, 1200);
        });
        


        
        


    </script>
    
