{% comment %} {% extends 'layouts/base.html' %} {% endcomment %}
{% load bootstrap4 static i18n custom_tags %}
{% comment %} {% block extracss %} {% endcomment %}
    <style>
        

    </style>
{% comment %} {% endblock %}
{% block content %} {% endcomment %}
    <div class="row">
        <div class="col-md-12">


            <div class="clearfix"></div>


            <div class="card transparent">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="card">
                            
                            <div class="card-body">
                            
                                        
                                <fieldset>
                                    {% comment %} <legend  class="text-primary text-bold">{% translate "Select dates" %}</legend> {% endcomment %}

                                    <div class="row">

                                        <div class="col-5">
                                            <div class="form-group">
                                                <input type="button" name="generate" class="btn btn-primary" 
                                                    style="margin-top: 25px; font-size: 11px !important;"
                                                    value="{% translate 'Generate a download link' %}" required id="id_generate" />
                                            </div>
                                        </div>

                                        {% if user.is_superuser or user|has_group:"Admin" %}
                                        <div class="col-7">
                                            
                                            <div class="btn-group pull-right" style="margin-top: 25px; font-size: 11px !important;">
                                                {% include 'components/modal_upload_one_sheet.html' with type_object="statistic_file" upload_url="dashboard:statistics:app_excel_statistics_upload" %}
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="clearfix"></div>

                                    </div>

                                </fieldset>
                                

                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>




            <div class="card">
                <div class="card-body table-responsive">
                    <div id="pdf-display">
                        {% comment %} <iframe src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="250" height="300"></iframe> {% endcomment %}
                    </div>
                </div>
                <div class="overlay" id="spin-pdf">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>


        </div>

    </div>

<input type="hidden" name="type_field" id="id_type_field" value="" />

{% comment %} {% endblock %} {% endcomment %}





{% comment %} {% block javascript %}
    {{ block.super }} {% endcomment %}


    <script src="{% static 'js/cascade_requests.js' %}"></script>
    <script type="text/javascript">
        var type_field = "";
        var spin_pdf = $('#spin-pdf');
        spin_pdf.hide();

        $("#clear_all_filters").on("click", function () {
            $('.facilitators-filter input').val('');
            $('.facilitators-filter select').val(null).trigger('change.select2');
            
        });


        $('fieldset select').on('change', function () {
            $('#pdf-display').html(``);
        });
        $('fieldset input').on('change', function () {
            $('#pdf-display').html(``);
        });


        $("#id_generate").click(function(event){
            event.preventDefault();
            let val_facilitator = $("#id_facilitator").val();

            spin_pdf.show();
            let href = "";
            
            {% comment %} if(!['', ' ', null, undefined, []].includes(val_facilitator)){
                href = `{% url 'dashboard:statistics:app_excel_statistics_by_facilitator' '_var_' %}`;
                href = href.replace('_var_', val_facilitator);
            }else{
                href = `{% url 'dashboard:statistics:app_excel_statistics' %}`;
            } {% endcomment %}
            href = `{% url 'dashboard:statistics:app_excel_statistics' %}`;
            
            href += (`?id_region=` + id_region.val() +
            `&id_prefecture=` + id_prefecture.val() + `&id_commune=` + id_commune.val() + `&id_canton=` + id_canton.val() + 
            `&id_village=` + id_village.val() + `&administrative_level_id=` + administrative_level_id + `&type_field=` + administrative_level_type + 
            `&is_training=` + "{{ is_training }}" + `&is_develop=` + "{{ is_develop }}");
            // + 
            //`&id_in_details=`+ (id_in_details.checked ? 1 : 0));
            
            if(!['', ' ', null, undefined, []].includes(val_facilitator)){
                href += `&facilitator_db_name=` + val_facilitator;
            }
            
            $('#pdf-display').html(`
            <a target="_blank" href=`+ href +`>{% translate 'Link generated. Click to generate the EXCEL' %}</a>
            `);
            spin_pdf.hide();
        
            
        });
        


        
        


    </script>
    
