{% load static i18n custom_tags bootstrap4 %}


<style>
.modal-title, label, p {
        color: black;
    }

.status {
    color: white;
    .status__circle-icon {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        align-content: center;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.success {
             background-color: white;
             color: #24c38b;
        }

        &.error {
            background-color:white;
            color:  #F0788E;
        }
    }
}

    .fieldset {
        border: solid 2px gray;
        margin-bottom: 10px !important;
    }
    .fieldset fieldset .content {
        width: 95% !important;
    }
    .fieldset fieldset .content:last-of-type {
        margin-left: auto;
    }
    fieldset {
    background-color: #eeeeee;
    }

    legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    }

    input {
    margin: 5px;
    }

    .attach-file a {
        float: right !important;
        margin-right: 45px !important;
    }
    .attach-file p {
        margin-left: 15px !important;
        margin-top: 8px !important;
    }

    .task_comments_div span {
        color: black;
    }
</style>



<div class="col-12 p-0">
    <input id="totalActTasks" hidden="true" value="{{ total_act_tasks }}">

{% comment %} {% block tasks %} {% endcomment %}

{% for task in tasks %}
    <div data-toggle="modal" data-target="#card-item-task-{{ task|get:'_id' }}" style="cursor: pointer;" >
        <div class="row">
            <div class="card-item task-card" id="task_number_{{ task|get:'_id' }}">
                   <div class="row align-items-center">
                       <div class="mt-3 mb-2 col-10">
                           <span class="font-weight-bold">{% translate 'Activity' %} {{ task.activity_order }}.{{ task.order }}:</span> {{ task.name }}
                        </div>
                        <div class="col-auto ml-auto">

                            <div class="status text_{{ task|get:'_id' }}">
                            {% if task.completed == False %}
                                   <div class="header__progress-icon"></div>
                            {% elif task.completed == True and task.validated == True %}
                                    <div class="status__circle-icon success"><i class="fas fa-check-double"></i></div>
                            {% elif task.completed == True and task.validated == False %}
                                    <div class="status__circle-icon error"><i class="fas fa-times"></i></div>
                            {% elif task.completed == True %}
                                    <div class="status__circle-icon success"><i class="fas fa-check"></i></div>
                            {% endif %}
                            </div>

                            {% comment %} <div class="col-sm-5">
                                <div class="col mb-1 text-right text_completed_{{ task|get:'_id' }}"></div>
                            </div> {% endcomment %}

                        </div>
                   </div>

                    <div class="text-bold-family mt-2 mb-2">
                        {% if task.attachments|length != 0 %}
                            {% translate "Attachments" %}
                        {% else %}
                            {% translate "No attachments" %}
                        {% endif %}
                    </div>

                    {% for attachment in task.attachments %}
                        <div>
                            {% if attachment.cloud_url %}
                                <a class="link-attachment mt-2" href="{{ attachment.cloud_url }}"
                                   target="_blank">
                                    <i class="fas fa-paperclip mr-2"></i>
                                    {{ attachment.name }}
                                </a>
                            {% else %}
                                <i class="fas fa-paperclip mr-2"></i>
                                {{ attachment.name }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="col p-0 float-right">
                        <i class="mr-2 far fa-calendar-alt"></i>
                        {% translate 'Completed on' %}:
                        {% if task.completed_date and task.completed_date != "0000-00-00 00:00:00" %}
                            {{ task.completed_date|default:'-' }}
                        {% else %}
                            {{ task.date_action_complete_by|default:'-' }}
                        {% endif %}
                    </div>
             </div>
        </div>
    </div>
</div>

    <!-- Modal  modal-dialog-centered -->
    <div class="modal fade" id="card-item-task-{{ task|get:'_id' }}" tabindex="-1" role="dialog"
        aria-labelledby="UploadTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    {{ task.name }} (CVD : <b>{{ task.administrative_level_name }}</b>)
                </h5>
                <div class="col-sm-2 text-right">
                    <div class="modal_text_completed_{{ task|get:'_id' }}">
                        {% if task.completed %}
                            <div class="status-badge badge-completed">
                                {% translate 'Completed' %}
                            </div>
                        {% else %}
                            <div class="status-badge badge-pending">
                                {% translate 'Pending' %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal_text_{{ task|get:'_id' }}" style="margin-top: 10px;">
                        {% if task.validated %}
                            <div class="status-badge success-color">
                                <i class="fas fa-check success-color"></i> {% translate 'Task validated' %}
                            </div>
                        {% else %}
                            <div class="status-badge warning-color">
                                {% if task.validated == False %}
                                    <i class="fas fa-times warning-color"></i>
                                    {% translate 'Task not validated' %}
                                {% else %}
                                    <i class="fas fa-exclamation-triangle warning-color"></i>
                                    {% translate 'Unseen task' %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card">
                <div class="card-body">

                    {% comment %} {% with task|structureTheFields as fields %}
                    {% for field, value in fields.items %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{{ field }}</label>
                            <div class="col-sm-9">
                                <input type="text" readonly value="{% if value %}{{ value }}{% else %}-{% endif %}" class="form-control" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                    {% endwith %} {% endcomment %}

                    {% include "facilitators/task_form.html" %}

                </div>
                

                    
                <div class="card" style="margin-right: 20px !important; margin-top: 15px !important;elevation: 15;">
                    <h5 class="card-title overlay-wrapper" style="width: 90%; margin: auto !important; text-align: center;color: black;">
                        {% translate "Comments and actions history" %}
                    </h5>

                    <div class="card-body overflow-y-auto">
                        <div class="overlay-wrapper" style="width: 80%; margin: auto !important;">
                            <div class="task_comments" id="task_comments_{{ task|get:'_id' }}">
                                {% include 'facilitators/comments.html' with comments=task.actions_by %}
                            </div>
                            <button class="btn btn-primary" onclick="loadTaskComments('{{ facilitator_db_name }}', '{{ task|get:'_id' }}')">
                                <i class="fas fa-sync"></i>
                            </button>
                            <div class="overlay" id="load-comments-spin-{{ task|get:'_id' }}" style="display: none;">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>


                {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" %}
                    <input type="hidden" value="{% if task.completed %}0{% else %}1{% endif %}"
                            name="{{ task|get:'_id' }}" id="action_code_completed_{{ task|get:'_id' }}"  />
                    {% if task.completed %}

                    <div style="margin-top: 25px; width: 100%;">

                        {% comment %} Validation Invalidation {% endcomment %}
                        {% include "facilitators/validation_invalidation.html" %}
                        {% comment %} End Validation Invalidation {% endcomment %}


                        <div style="width: 30%; margin: auto; float: right;" >
                            <button type="button" name="uncomplete_complete" class="btn btn-warning uncomplete_complete"
                                required id="id_uncomplete_complete_{{ task|get:'_id' }}">
                                {% translate 'Mark as uncompleted' %}
                            </button>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    {% else %}
                        <button type="button" name="uncomplete_complete" class="btn btn-primary uncomplete_complete"
                            style="margin-top: 25px; width: 50%; margin: auto;"
                            required id="id_uncomplete_complete_{{ task|get:'_id' }}">
                            {% translate 'Mark as completed' %}
                        </button>
                    {% endif %}




                {% else %}
                    {% if task.completed %}
                        {% if user|has_group:"CDDSpecialist" or user|has_group:"Evaluator" or user|has_group:"Validator" or user|has_group:"Supervisor" %}
                        <div style="margin-top: 25px; width: 100%;">
                            {% comment %} <input type="hidden" value="{% if task.validated %}0{% else %}1{% endif %}"
                                name="{{ task|get:'_id' }}" id="action_code_{{ task|get:'_id' }}"  />
                            <button type="button" name="invalidate_valide"
                                class="btn {% if task.validated %}btn-warning{% else %}btn-primary{% endif %} invalidate_valide"
                                style="margin-top: 25px; width: 50%; margin: auto;"
                                required id="id_invalidate_valide_{{ task|get:'_id' }}">
                                {% if task.validated %}
                                    {% translate 'Mark as invalidated' %}
                                {% else %}
                                    {% translate 'Mark as validated' %}
                                {% endif %}
                            </button> {% endcomment %}

                            {% comment %} Validation Invalidation {% endcomment %}
                            {% include "facilitators/validation_invalidation.html" %}
                            {% comment %} End Validation Invalidation {% endcomment %}
                        </div>
                        {% endif %}
                    {% endif %}

                {% endif %}


            </div>



            </div>
        </div>
    </div>
    <!-- End Modal -->

    {% comment %} {% for attach in task.attachments %}{% if attach.attachment.uri %}
    <!-- Modal -->
    <div class="modal fade" id="item-attach-{{ forloop.counter }}" tabindex="-2" role="dialog"
        aria-labelledby="attach" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

                <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" class="btn btn-primary" target="_blank" >
                    <img src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="700" height="700" />
                </a>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    {% endif %}{% endfor %} {% endcomment %}

{% endfor %}

{% comment %} {% block modals %} {% endcomment %}

    <div class="modal fade modal-confirmation" id="modal_comment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-primary text-center fs17 lh19 text-bold mb-4"
                         style="padding: 0 45px 0 45px;">
                        {% translate "Please enter a comment" %}
                    </div>
                    <div class="form-group">
                        <textarea name="id_in_validation_comment" cols="40" rows="3" maxlength="65000" class="form-control"
                            title="" required="" id="id_in_validation_comment" spellcheck="true"
                            placeholder="{% translate 'Add Comment' %}"></textarea>
                    </div>

                </div>
                <div class="modal-footer border-0">
                    <button id="btn-send-comment" type="submit" class="btn btn-lg btn-primary text-right">
                        {% translate "Send" %}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% comment %} {% endblock modals %} {% endcomment %}


{% comment %} {% endblock %} {% endcomment %}
