{% load bootstrap4 static i18n %}

<style>
    .profile {
        color: #1F2D3D;
    }

    .profile__title {
        font-size: 12px;
        font-weight: bold;
    }

    .profile__name {
        font-size: 22px;
        margin-top: 5px;
        line-height: 33px;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .profile__email, .profile__phone {
        i {
            color: #24c38b;
        }
    }

    .profile__phone {
        i {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .profile__email, .profile__phone, .profile__activity, .profile__code {
        line-height: 25px;
        font-size: 12px;
    }

    .profile__activity, .profile__code {
        text-align: right;
    }

</style>

<div class="card profile">
    <div class="card-body row">
        <div class="col-12 col-md-9">
            <div class="col-12 mb-3  profile__title">
                <strong>
                    {% translate "Facilitator Profile" %}
                </strong>
            </div>
            <div class="col-12 profile__name">
                {% translate 'Facilitator not assigned' as not_assigned %}
                <span {% if not facilitator_doc %}class="text-warning"{% endif %} id="name">
                    {% if user.is_superuser %}
                        <a class="pointer-event" 
                            href="{% url 'dashboard:facilitators:old_detail' facilitator.no_sql_db_name %}"
                            title="{% translate 'See profile' %}">
                            <span>{{ facilitator_doc.name|default:not_assigned }}</span>
                        </a>
                    {% else %}
                        {{ facilitator_doc.name|default:not_assigned }}
                    {% endif %}
                </span>
            </div>
            <div class="col-12 profile__phone">
                <i class="fas fa-phone text-primary"></i> {% translate "Teléphone" %}: {{ facilitator_doc.phone }}
            </div>
            <div class="col-12 profile__email">
                <i class="fas fa-envelope text-primary"></i> {% translate "Email" %}: {{ facilitator_doc.email }}
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="col-12 profile__activity">
                <strong>{% translate 'Last Activity' %}:</strong>
                <span>
                            {% if facilitator_doc.last_activity_date %}
                                {{ facilitator_doc.last_activity_date }}
                            {% else %}
                                -
                            {% endif %}
                        </span>
            </div>
            <div class="col-12 profile__code">
                <div>
                    <strong>{% translate 'Facilitator Code' %}:</strong>
                    <span class="text-primary" id="facilitator_code">{{ facilitator.code }}</span>
                </div>
                {% comment %}
                    <div class="facilitator-code mt-3" id="facilitator_code">{{ facilitator.code }}</div>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>