{% load static i18n custom_tags %}

<style>
    .planning-table {
        width: 100% !important;
    }
    
    .task {
        margin-bottom: 2px;
        padding: 2px;
        border-radius: 11px;
        color: #fff;
        text-align: center;
        //border: solid 4px black;
    }

    thead th {
        font-weight: bold;
    }

    #id_download_tasks_file {
        font-size: 14px;
        cursor: pointer;
    }
    
</style>




        <span>{{ currentMondayDate|date:'F Y' }}</span>

        <span id="id_download_tasks_file" class="float-md-right text-primary text-bold"><i class="fas fa-file-excel"></i></span>

        <span class="float-md-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span id="download-message" class="float-md-right" style="display:none;">{% translate "Download in progress..." %}</span>
        <span id="download-complete-message" class="float-md-right" style="display:none;">{% translate "Download complete!" %}</span>

        <span class="float-md-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        
        <div class="float-md-right"  style="margin-top: -5px;">
            <span style="margin-top: 5px;margin-left: 5px;" >&nbsp;&nbsp;&nbsp;{% translate "End" %} : &nbsp; </span><span id="id_plan_date_end" type="date" ></span> <span id="id_plan_date_end_selected" style="margin-top: 5px;margin-left: 5px;" >YYYY/MM/DD</span>
        </div>
        
        <div class="float-md-right"  style="margin-top: -5px;">
            <span style="margin-top: 5px;margin-left: 5px;" >{% translate "Arguments for export" %} <i class="fas fa-hand-point-right"></i> &nbsp;&nbsp; {% translate "Start" %} : &nbsp; </span><span id="id_plan_date_start" type="date" ></span> <span id="id_plan_date_start_selected" style="margin-top: 5px;margin-left: 5px;" >YYYY/MM/DD</span>
        </div>

        <div class="clearfix"></div>

        <div class="card">
            <div class="card-body table-responsive">
                <table id="planning-table" class="table-bordered" style="width: 100% !important">
                    <thead>
                        <tr>
                            <th width="16%" id="timeColumn" class="time-column" >&nbsp;</th>
                            <th width="12%" class="day-column">{% translate "Monday" %} <span id="dayColumn0"></span></th>
                            <th width="12%" class="day-column">{% translate "Tuesday" %} <span id="dayColumn1"></span></th>
                            <th width="12%" class="day-column">{% translate "Wednesday" %} <span id="dayColumn2"></span></th>
                            <th width="12%" class="day-column">{% translate "Thursday" %} <span id="dayColumn3"></span></th>
                            <th width="12%" class="day-column">{% translate "Friday" %} <span id="dayColumn4"></span></th>
                            <th width="12%" class="day-column">{% translate "Saturday" %} <span id="dayColumn5"></span></th>
                            <th width="12%" class="day-column">{% translate "Sunday" %} <span id="dayColumn6"></span></th>
                        </tr>
                    </thead>
                    <tbody id="calendarContent">
                        
                    </tbody>
                </table>
            </div>
            <div class="overlay" id="task-plan-detail-spin">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>



        <div id="taskPlanDetailModalForm" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>
        <div id="deleteTaskPlanModalForm" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>




<script type="text/javascript">

    var task_planed_detail=null;
    currentWeek = parseInt("{{ currentWeek }}");
    currentMondayDate = new Date('{{ currentMondayDate|date:"Y/m/d" }}');

    
    var date_start_selected = currentMondayDate ? formatDate(currentMondayDate) : null;
    $("#id_plan_date_start_selected").html(date_start_selected);
    var date_end_selected=null;


    function couperChaine(chaine, longueurMax) {
        if (chaine.length > longueurMax) {
            return chaine.substring(0, longueurMax) + "...";
        } else {
            return chaine;
        }
    }


    function get_current_task_planed (t){
        task_planed_detail = t;
        //const taskData = JSON.parse(taskDataStr);
    }

    $(document).ready(function () {
        {% get_current_language as lang %}

        class TaskPlanDetailFormAjaxSubmit extends FormAjaxSubmit {
            submitted_form() {
                
            }
        }
        let task_plan_detail_form_ajax = new TaskPlanDetailFormAjaxSubmit();
        task_plan_detail_modal = $('#taskPlanDetailModalForm');


        const weekInfo = document.getElementById('weekInfo');
        const calendarContent = document.getElementById('calendarContent');
        const timeColumn = document.getElementById("timeColumn");
        const times = ["08:00", "12:00", "16:00"];
        const dayColumns = [
            document.getElementById('dayColumn0'),
            document.getElementById('dayColumn1'),
            document.getElementById('dayColumn2'),
            document.getElementById('dayColumn3'),
            document.getElementById('dayColumn4'),
            document.getElementById('dayColumn5'),
            document.getElementById('dayColumn6')
        ];
        let task_plan_detail_spin = $('#task-plan-detail-spin');
        task_plan_detail_spin.hide();
        
        const tasks = {{ planning|safe }};
        /*convert_array_request_to_js_array(
            "{{ planning }}"
            .replaceAll("&#x27;", "'")
            .replaceAll("&quot;", '"')
            .replaceAll("None", null)
            .replaceAll("True", true)
            .replaceAll("False", false)
        )*/
        
        function updateDates(mondayDate) {
            for (let i = 0; i < 7; i++) {
                const currentDate = new Date(mondayDate);
                currentDate.setDate(mondayDate.getDate() + i);
                const dayName = currentDate.toLocaleDateString('fr-FR', { weekday: 'long' });
                const dayNumber = currentDate.getDate();
                dayColumns[i].textContent = `${dayNumber}`;//`${dayName} ${dayNumber}`;
            }
        }

        updateDates(currentMondayDate);


        if ($.fn.DataTable.isDataTable('#planning-table')) {
            $('#planning-table').DataTable().destroy();
            $('#planning-table').empty(); 
        }

        let table = $('#planning-table').DataTable({
            language: {
                url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
            },
            "paging": true,
            "pageLength": 1000,
            "lengthMenu":[1, 2, 3, 5, 7, 10, 20, 30, 40, 43, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 1000],
            "searching": true,
            "ordering": true,
            "info": true,
        });
    
    function renderTask (taskData) {
        return `
            <div class="task" style="width: 100%;background-color: ${taskData.color} !important; ">
                <div style="text-align: left; width: 83%; float: left; cursor: pointer;" class="task-plan" id="${taskData.no_sql_db_name}__${taskData.task__id}__${taskData.datetime}"
                    {% comment %} onclick="get_current_task_planed(\'${taskData.datetime}\')" {% endcomment %}
                    >` +
                    `<span style="font-size: 8px; text-align: left; font-weight: bold; color: ${taskData.text_color};">${couperChaine(taskData.task, 35)}</span>` +
                `</div>
                <div style="width: 17%; float: right;">
                    ${(taskData.planning.completed ? true : (taskData.planning.is_another ? true : false)) ? '<i class="nav-icon fa fa-check-circle"></i>' : '<i class="nav-icon fa fa-circle-o"></i>'}
                    <br />
                    ${taskData.planning?.comments ? '<i class="nav-icon fa fa-envelope">'+
                        (![null, undefined, 0].includes(taskData.planning?.comments?.filter((elt) => [undefined, false].includes(elt.comment_read))?.length) ? (
                            '<span style="font-size: 7px;background-color: red;text-align: center;color: white;padding: 1px;border-radius: 50px;margin-top: 10px !important;">'
                                +
                                taskData.planning?.comments?.filter((elt) => [undefined, false].includes(elt.comment_read))?.length
                                +
                            '</span>'
                        ) : '')
                    +'</i>' : ''}
                </div>
                <div class="clearfix"></div>
            </div>
        `;
    };
    

function renderCalendar(week) {
    calendarContent.innerHTML = '';
    calendarContent.style.width = '100% !important';
    const weekData = tasks[week] || [];
    weekData.forEach(taskRowData => {

        let t = times.map((elt, i) => `<div>${elt ? elt : ""}</div>${i < 2 ? "<br /><br />" : ""}`)
        let personCell = `
        <div style="">
            <div style="float: left; width: 80% !important;font-weight: bold;">${taskRowData.person}</div>
            <div style="float: right; width: 20% !important;">
                ${t.join("")}
            </div>
        </div>
        `;
        let planning_tasks = [personCell];
        for (let i = 0; i < 7; i++) {
            let taskCell = '<div>';
            let tasksData = taskRowData.tasks.filter(task => task.day === i);
            tasksData = tasksData ? tasksData : [];
            if (tasksData) {

                let _taskCell = [
                    `<div style="width: 100% !important;">&nbsp;</div>`, 
                    `<div style="width: 100% !important;">&nbsp;</div>`,
                    `<div style="width: 100% !important;">&nbsp;</div>`,
                    /*`<div style="width: 100% !important;">&nbsp;</div>`,
                    `<div style="width: 100% !important;">&nbsp;</div>`,
                    `<div style="width: 100% !important;">&nbsp;</div>`,
                    `<div style="width: 100% !important;">&nbsp;</div>`,*/
                ]
                tasksData.sort((a, b) => (a.datetime ? a.datetime : "").localeCompare(b.datetime ? b.datetime : ""));
                
                let i_12 = 0;
                let i_16 = 3;
                let i_ = 6;
                for (let a = 0; a < tasksData.length; a++) {
                    let dateObject = new Date(tasksData[a].datetime);
                    let hours = dateObject.getHours();
                    
                    /*if(12 > hours && i_12 < 3){
                        _taskCell[i_12] = renderTask(tasksData[a]);
                        i_12 += 1;
                    }
                    else if(16 > hours && i_16 < 6){
                        _taskCell[i_16] = renderTask(tasksData[a]);
                        i_16 += 1;
                    }else{
                        if(_taskCell[i_]){
                            _taskCell[i_] = renderTask(tasksData[a]);
                        }else{
                            _taskCell[a] = renderTask(tasksData[a]);
                        }
                        
                    }*/
                    if(12 > hours && i_12 < 3){
                        _taskCell[i_12] = renderTask(tasksData[a]);
                        i_12 += 1;
                    }
                    else if(16 > hours && i_16 < 6){
                        _taskCell[i_16] = renderTask(tasksData[a]);
                        i_16 += 1;
                    }else{
                        _taskCell[a] = renderTask(tasksData[a]);
                    }


                }
                taskCell += _taskCell.join("");
                
            }
            
            taskCell += '</div>'
            planning_tasks.push(taskCell);
        }

        table.row.add(planning_tasks).draw(false); 


    });
    weekInfo.textContent = `${week}`;
    updateDates(currentMondayDate);
}


//table.clear().draw();


renderCalendar(currentWeek);





        $(".task-plan").on('click', function () {
            task_plan_detail_spin.show();
            let elt_id = $(this).attr('id').split("__");
            let no_sql_db_name = elt_id[0];
            let task_id = elt_id[1];
            let task_plan_datetime = elt_id[2];
            let url = `{% url 'dashboard:planning:plan_task_detail' "no_sql_db_name" "task__id" "task_plan_datetime" %}`;
            url = url.replace('no_sql_db_name', no_sql_db_name).replace('task__id', task_id).replace('task_plan_datetime', task_plan_datetime);
            task_plan_detail_form_ajax.load_form('#plan_task_detail', task_plan_detail_modal, url).then(r => {
                task_plan_detail_spin.hide();
            }).catch(e => {
                task_plan_detail_spin.hide();
            });
            
        });




        $("#id_download_tasks_file").on("click", function(event) {
            event.preventDefault(); // Empêche le comportement par défaut du lien
      
            $("#download-message").show();
            $("#download-complete-message").hide();

            data = {
                id_region: id_region.val(),
                id_prefecture: id_prefecture.val(),
                id_commune: id_commune.val(),
                id_canton: id_canton.val(),
                id_village: id_village.val(),
                type_field: type_field,
                is_training: "{{ is_training }}",
                is_develop: "{{ is_develop }}",
                show_my_calendar: show_my_calendar.is(':checked'),
                task_status: id_task_status.val(),
                task_type: id_task_type.val(),
                username_facilitator_user: id_username_facilitator_user.val(),
                
                current_week: currentWeek ? currentWeek : null,
                current_monday_date: currentMondayDate ? formatDate(currentMondayDate) : null,
                date_start_selected: date_start_selected,
                date_end_selected: date_end_selected,
            }
      
            var url = "{% url 'dashboard:planning:app_excel_reports_planning' %}"; // L'URL de téléchargement
            
            $.ajax({
              url: url,
              type: 'GET',
              data: data,
              success: function(response) {
                console.log("response")
                console.log(response)
                let path = response.replaceAll('/', '___').replaceAll('\\', '___');
                let download_file_view_url = "{% url 'download_file_view' 'path' 'content_type' %}";
                window.location.href = download_file_view_url.replace('path', path).replace('content_type', 'None');
                
    
                $("#download-message").hide();
                $("#download-complete-message").show();


                setTimeout(function() {
                    $("#download-message").hide();
                    $("#download-complete-message").hide();
                  }, 5000);
              },
              error: function(xhr, status, error) {
                alert("Erreur lors du téléchargement du fichier.");
              }
            });
          });



          
            let dp1 = '<div class="input-group-prepend" data-target="#{id}" data-toggle="datetimepicker">' +
            '<div class="input-group-text"><i class="fa fa-calendar text-primary"></i></div></div>';
            let dp2 = '<div class="input-group date" id="{id}" data-target-input="nearest"></div>';
            $('#id_plan_date_start').before(dp1.replace('{id}', 'plan_date_start')).parent().wrapInner(
                dp2.replace('{id}', 'plan_date_start'));
            $('#id_plan_date_end').before(dp1.replace('{id}', 'plan_date_end')).parent().wrapInner(
                dp2.replace('{id}', 'plan_date_end'));

            //Datemask dd/mm/yyyy
            $('.datetimepicker-input').inputmask({alias: "datetime", inputFormat: "dd/mm/yyyy"});

            let options = {
                //maxDate: Date.now(),
                useCurrent: false,
                format: "DD/MM/YYYY",
                widgetPositioning: {
                    vertical: 'bottom',
                }
            };

            function dateChanged(e) {
                if (e.oldDate !== e.date) {
                    date_selected = e.date ? formatDate(new Date(e.date)) : null;
                    $("#id_plan_date_start_selected").html(date_selected);
                }
            }

            $('#plan_date_start').datetimepicker(options);
            $('#plan_date_start').on("change.datetimepicker", function (e) {
                if (e.oldDate !== e.date) {
                    date_start_selected = e.date ? formatDate(new Date(e.date)) : null;
                    $("#id_plan_date_start_selected").html(date_start_selected);
                }
            });

            
            $('#plan_date_end').datetimepicker(options);
            $('#plan_date_end').on("change.datetimepicker", function (e) {
                if (e.oldDate !== e.date) {
                    date_end_selected = e.date ? formatDate(new Date(e.date)) : null;
                    $("#id_plan_date_end_selected").html(date_end_selected);
                }
            });

    });


</script>