{% load static i18n custom_tags %}
{% for comment in comments %}
    <div class="row">
        <div class="col-9">
            {% if comment.user %}
                {% with indexed_users|get_indexed_user:comment.user.id as color_index %}
                    <div class="circle-icon float-left mr-2 navbar-{{ colors|next_in_circular_list:color_index }}">
                        <div class="center-32 pt-1 text-white text-bold-family">
                            {% get_initials comment.user.first_name %}
                        </div>
                    </div>
                {% endwith %}
                <div class="text-bold-family">
                    {{ comment.user.last_name }} {{ comment.user.first_name }} 
                    {% if comment.type != 'comment' %}
                    (<span style="color: {% if comment.validated %}green{% else %}red{% endif %};">{% if comment.validated %}{% translate "Validation action" %}{% else %}{% translate "Invalidation action" %}{% endif %}</span>)
                    {% endif %}
                </div>
            {% else %}
                {% with indexed_users|get_indexed_user:comment.facilitator.id as color_index %}
                    <div class="circle-icon float-left mr-2 navbar-{{ colors|next_in_circular_list:color_index }}">
                        <div class="center-32 pt-1 text-white text-bold-family">
                            {% get_initials comment.facilitator.name %}
                        </div>
                    </div>
                {% endwith %}
                <div class="text-bold-family">
                    {{ comment.facilitator.name }} 
                    {% if comment.type != 'comment' %}
                    (<span style="color: {% if comment.validated %}green{% else %}red{% endif %};">{% if comment.validated %}{% translate "Validation action" %}{% else %}{% translate "Invalidation action" %}{% endif %}</span>)
                    {% endif %}
                </div>
            {% endif %}
            <div class="text-regular-family">
                {{ comment.created_date|date:'j-F-Y' }}
            </div>
        </div>
        <div class="col-3 text-right lh15 mt-3 text-regular-family">
            {{ comment.created_date|date:'H:i' }}
        </div>
    </div>
    <div class="row border-bottom mt-2 mb-3">
        <div class="col-10 mb-2 text-regular-family mb-3">
            <p id="issue_comment_comment">
            {{ comment.comment|safe }}
            </p>
        </div>
    </div>
{% empty %}
    <div class="row">
        <div class="col-12 text-center">
            {% translate 'No comments found' %}
        </div>
    </div>
{% endfor %}
