{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block extracss %}
    {{ block.super }}
    <style>
        #table {
            border-collapse: separate;
            border-spacing: 0;
            border: 0;
            border-radius: 10px 0 0 0 !important;

            & thead th {
                border: 1px solid #f2f2f2 !important;

                font-weight: bolder !important;;
                height: 36px;
                padding: 0 25px 0 10px;

                &:not([class^="bg-"]) {
                    background-color: #f2f2f2 !important;
                }

                &:after, &:before {
                    top: 30%;
                }

                &:last-of-type {

                    border-radius: 0 10px 0 0 !important;
                }

                &:not(&:last-child) {
                    border-right-color: #c1c1c1 !important;
                }

                &:last-child {
                    border-right-color: transparent !important;
                }

                &:first-child {
                    border-left-color: transparent !important;
                }
            }


            & thead th:first-of-type {

                border-radius: 10px 0 0 0 !important;
            }

            & tbody td {
                border-bottom-width: 1px !important;
                padding-top: 10px;
                padding-bottom: 10px;
            }


            & tbody tr:last-of-type {
                border-radius: 0 10px 0 0 !important;
            }

            & tbody tr:not(.even):not(.odd):last-of-type, & tbody tr:not(.even):not(.odd):last-of-type td[colspan="8"] {
                border-radius: 0 0 10px 10px !important;
            }

            & tbody td:first-of-type {
                border-left: 1px solid #e2e1e1 !important;
            }

            & tbody td:last-of-type td {
                border-left: 1px solid #e2e1e1 !important;
            }

            & tbody td:not(:first-of-type) {
                border-left: 0;

            }

            & tbody td:not(:last-of-type) {
                padding: 0 25px 0 10px;
                border-right: 0;
            }

            & tbody tr {
                border-bottom: 1px solid #e2e1e1 !important;
                border-right: 1px solid #e2e1e1 !important;
                border-left: 1px solid #e2e1e1 !important;

                &:last-of-type td:first-of-type {
                    border-radius: 0 0 0 10px !important;

                }

                &:last-of-type td:last-of-type {
                    border-radius: 0 0 10px 0 !important;

                }
            }

        }

        .search-bar {
            height: 40px;
        }

        .form-group {
            margin-bottom: 0;
            margin-top: 1px;
        }

        .dt-buttons, #table_length {
            display: inline-flex;
            max-width: 50%;
            flex: 0 0 50%;
            width: 50%;
        }

        .dt-buttons button {
            color: #ffffff !important;
            background-color: #24c38b;
            border-color: #24c38b;
            box-shadow: none;
            border-style: none;
            margin-right: 5px;
            padding: 5px;
            border-radius: 7px !important;
        }

        #table_length label {
            margin-left: auto;
        }

        .no-sort:before, .no-sort:after {
            display: none !important;
        }
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 18px;
        }

        #id_call_add_task_modal {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            position: fixed;
            bottom: 20px; /* Distance from the bottom */
            right: 20px;  /* Distance from the right */
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            
            <div class="card">
                <div class="p-2 row facilitators-filter">

                    <div class="col-3 col-lg mb-2 mb-lg-0">
                        
                        <div class="header">
                            <i id="prevWeek" class="nav-icon fa fa-chevron-left text-success" style="cursor: pointer;"></i>
                            <div  style="font-size: 13px; text-align: center;"><span class="font-weight-bold">{% translate "Week" %} </span> <span id="weekInfo">??</span></div>
                            <i id="nextWeek" class="nav-icon fa fa-chevron-right text-success" style="cursor: pointer;"></i>
                        </div>
                    </div>


                    <div class="col-1 col-lg mb-2 mb-lg-0">
                        <div class="form-check justify-content-center" style="margin-top: 12px !important; margin-left: 13px;">
                            <input class="form-check-input" type="checkbox" value="" id="show_my_calendar">
                            <label class="form-check-label" for="show_my_calendar">
                                {% translate "For me" %} 
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-1 col-lg mb-2 mb-lg-0">
                        <div class="form-group" id="group_task_type">
                            <select class="form-control" id="id_task_type" name="task_type" style="width: 100%;">
                                <option value="All" >{% translate 'All' %}</option>
                                <option value="free_tasks">{% translate 'Free tasks' %}</option>
                                <option value="existing_tasks">{% translate 'Existing tasks' %}</option>
                                <option value="vacations">{% translate 'Vacations' %}</option>
                            </select>
                        </div>
                    </div>
                          
                    
                    
                    <div class="col-1 col-lg mb-2 mb-lg-0">
                        <div class="form-group" id="group_task_status">
                            <select class="form-control" id="id_task_status" name="task_status" style="width: 100%;">
                                <option value="All" >{% translate 'All' %}</option>
                                <option value="pending">{% translate 'Pending' %}</option>
                                <option value="completed">{% translate 'Completed' %}</option>
                                <option value="validated">{% translate 'Validated' %}</option>
                                <option value="not_validated">{% translate 'Not validated' %}</option>
                                <option value="undo">{% translate 'Undo' %}</option>
                                <option value="deadline_passed">{% translate 'Deadline passed' %}</option>
                            </select>
                        </div>
                    </div>

                    
                    
                    <div class="col-1 col-lg mb-2 mb-lg-0">
                        <div class="form-group" id="group_facilitators">
                            <select class="form-control" id="id_username_facilitator_user" name="facilitato" style="width: 100%;" multiple>
                                <option value="All" selected>{% translate 'All' %}</option>
                                {% for facilitator_user in facilitators_users %}
                                    <option value="{{ facilitator_user.username }}">{{ facilitator_user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-2 col-lg mb-2 mb-lg-0">
                        {% bootstrap_field form.canton show_label=False %}
                    </div>
                    <div class="col-2 col-lg mb-2 mb-lg-0">
                        {% bootstrap_field form.village show_label=False %}
                    </div>
                    <div class="col-lg-1 col-1 mb-2 mb-lg-0">
                        <a class="btn fs12 text-bold-family text-primary pull-right pr-0 p-lg-0"
                           id="clear_all_filters">
                            {% translate "Clear all filters" %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body table-responsive">
                    <div id="facilitators-list"></div>
                </div>
                <div class="overlay" id="spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>

        </div>
    </div>


    <button type="button" name="call_add_task_modal" class="btn btn-primary float-md-right"
        style="margin-top: 25px; margin: auto;"
        id="id_call_add_task_modal">
        +
    </button>
    
    {% comment %} save_comment {% endcomment %}

    <div id="addTaskPlanModalForm" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'js/cascade_requests.js' %}"></script>
    <script src="{% static 'js/csrfSafeMethodAjax.js' %}"></script>
    <script src="{% static 'js/formAjaxSubmit.js' %}"></script>


    <script type="text/javascript">
        var task_plan_detail_modal = null;
        var add_task_plan_modal = null;
        
        const prevWeek = document.getElementById('prevWeek');
        const nextWeek = document.getElementById('nextWeek');

        function convert_array_request_to_js_array (data_django_safe_str) {
            return JSON.parse(data_django_safe_str
                .replaceAll("{'", '{"')
                .replaceAll("'}", '"}')
                .replaceAll("':", '":')
                .replaceAll(": '", ': "')
                .replaceAll("',", '",')
                .replaceAll(", '", ', "')
                .replaceAll("']", '"]')
                .replaceAll("['", '["')
            );
        }
    
        
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}/${month}/${day}`;
        }

        let ids = ["id_canton", "id_village"]
        var type_field = "all";
        let spin = $('#spin');
        let facilitators = $('#facilitators-list');
        let administrative_level = $('#id_administrative_level');
        let id_region = $('#id_region');
        let id_prefecture = $('#id_prefecture');
        let id_commune = $('#id_commune');
        let id_canton = $('#id_canton');
        let id_village = $('#id_village');

        let id_username_facilitator_user = $('#id_username_facilitator_user');
        let id_task_status = $('#id_task_status');
        let id_task_type = $('#id_task_type');
        let show_my_calendar = $('#show_my_calendar');

        show_my_calendar.prop('checked', true).val(true);
        
        var currentWeek = null;
        var currentMondayDate = null;
        var query_data = null;
        var old_query_data = null;


        function show_facilitators_table(url) {
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    id_region: id_region.val(),
                    id_prefecture: id_prefecture.val(),
                    id_commune: id_commune.val(),
                    id_canton: id_canton.val(),
                    id_village: id_village.val(),
                    type_field: type_field,
                    is_training: "{{ is_training }}",
                    is_develop: "{{ is_develop }}"
                },
                success: function (response) {
                    spin.hide();
                    facilitators.html('');
                    facilitators.html(response);
                },
                error: function (data) {
                    spin.hide();
                    alert(error_server_message + "Error " + data.status);
                }
            });
        }


        function loadFacilitators(type_field = "", refresh_auto=false) {
            query_data = {
                id_region: id_region.val(),
                id_prefecture: id_prefecture.val(),
                id_commune: id_commune.val(),
                id_canton: id_canton.val(),
                id_village: id_village.val(),
                is_training: "{{ is_training }}",
                is_develop: "{{ is_develop }}",
                show_my_calendar: show_my_calendar.is(':checked'),
                task_status: id_task_status.val(),
                task_type: id_task_type.val(),
                username_facilitator_user: id_username_facilitator_user.val(),
                
                current_week: currentWeek ? currentWeek : null,
                current_monday_date: currentMondayDate ? formatDate(currentMondayDate) : null,
            };
            
            if (
                    refresh_auto ||
                    (
                        ($("#id_" + type_field).val() || ["all", "clear"].includes(type_field)) && 
                        (!old_query_data || (old_query_data && JSON.stringify(old_query_data) !== JSON.stringify(query_data)))
                    )
                ) {
                
                $(".facilitators-filter select").attr('disabled', true);
                if(ids.includes(("id_" + type_field))){
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'dashboard:administrative_levels:get_choices_for_next_administrative_levels_all' %}",
                        data: {
                            parents_id: $("#id_" + type_field).val()
                        },
                        success: function (data) {
                            if (type_field == "region") {
                                set_datas_administrative_level(id_prefecture, data.prefectures);
                                set_datas_administrative_level(id_commune, data.communes);
                                set_datas_administrative_level(id_canton, data.cantons);
                                set_datas_administrative_level(id_village, data.villages);
                            } else if (type_field == "prefecture") {
                                set_datas_administrative_level(id_commune, data.communes);
                                set_datas_administrative_level(id_canton, data.cantons);
                                set_datas_administrative_level(id_village, data.villages);
                            } else if (type_field == "commune") {
                                set_datas_administrative_level(id_canton, data.cantons);
                                set_datas_administrative_level(id_village, data.villages);
                            } else if (type_field == "canton") {
                                set_datas_administrative_level(id_village, data.villages);
                            }

                        },
                        error: function (data) {
                            alert(error_server_message + "Error " + data.status);
                            $(".facilitators-filter select").attr('disabled', false);
                        }
                    }).done(function () {
                            $(".facilitators-filter select").attr('disabled', false);
                        }
                    );
                }


                spin.show();
                facilitators.html('');
                old_query_data = {
                    id_region: id_region.val(),
                    id_prefecture: id_prefecture.val(),
                    id_commune: id_commune.val(),
                    id_canton: id_canton.val(),
                    id_village: id_village.val(),
                    is_training: "{{ is_training }}",
                    is_develop: "{{ is_develop }}",
                    show_my_calendar: show_my_calendar.is(':checked'),
                    task_status: id_task_status.val(),
                    task_type: id_task_type.val(),
                    username_facilitator_user: id_username_facilitator_user.val(),
                    
                    current_week: currentWeek ? currentWeek : null,
                    current_monday_date: currentMondayDate ? formatDate(currentMondayDate) : null,
                };
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:planning:planning_list' %}",
                    data: {...old_query_data, type_field: type_field},
                    success: function (response) {
                        /*if(task_plan_detail_modal){
                            task_plan_detail_modal.modal('hide');
                        }
                        if(add_task_plan_modal){
                            add_task_plan_modal.modal('hide');
                        }*/
                        spin.hide();

                        facilitators.html(response);

                        $(".facilitators-filter select").attr('disabled', false);
                    },
                    error: function (data) {
                        spin.hide();
                        alert(error_server_message + "Error " + data.status);
                        $(".facilitators-filter select").attr('disabled', false);
                    }
                });

            }


        }

        loadFacilitators("all");

        $('.facilitators-filter select').on('change', function () {
            if($(this).attr('id') && ids.includes($(this).attr('id'))){
                type_field = "";
                if ($(this).val()) {
                    type_field = $(this).attr('id').split('_')[1];
                }else{
                    let ids_r = ids.reverse();
                    for(let i=0; i<ids_r.length; i++){
                        if($('#'+ids_r[i]).val()){
                            type_field = $('#'+ids_r[i]).attr('id').split('_')[1];
                            break;
                        }
                    }
                }
            }
            if(type_field == ""){
                type_field = "all";
            }
            loadFacilitators(type_field);
            
        });
        $('.facilitators-filter #show_my_calendar').on('change', function () {
            loadFacilitators(type_field);
        });

        

        $("#clear_all_filters").on("click", function () {
            $('.facilitators-filter input').val('');
            $('.facilitators-filter select').val(null).trigger('change.select2');
            loadFacilitators("clear");
        });


        prevWeek.addEventListener('click', () => {
            currentWeek--;
            currentMondayDate.setDate(currentMondayDate.getDate() - 7);
            //renderCalendar(currentWeek);
            loadFacilitators(type_field);
        });
        
        nextWeek.addEventListener('click', () => {
            currentWeek++;
            currentMondayDate.setDate(currentMondayDate.getDate() + 7);
            //renderCalendar(currentWeek);
            loadFacilitators(type_field);
        });



        function loadComments(no_sql_db_name, task__id, task_plan_datetime) {
            $('#load-comments-spin').show();
            $('#comments').load(
                "{% url 'dashboard:planning:task_plan_comments' 'no_sql_db_name' 'task__id' 'task_plan_datetime' %}"
                .replace('no_sql_db_name', no_sql_db_name)
                .replace('task__id', task__id)
                .replace('task_plan_datetime', task_plan_datetime), 
                function (response, status, xhr) {
                if (status === "error") {
                    alert(error_server_message + "Error " + response.status);
                }
                $('#load-comments-spin').hide();
            });
        }

        function loadFiles(no_sql_db_name, task__id) {
            $('#load-files-spin').show();
            $('#files').load(
                "{% url 'dashboard:planning:task_plan_files' 'no_sql_db_name' 'task__id' %}"
                .replace('no_sql_db_name', no_sql_db_name)
                .replace('task__id', task__id), 
                function (response, status, xhr) {
                if (status === "error") {
                    alert(error_server_message + "Error " + response.status);
                }
                $('#load-files-spin').hide();
            });
        }



        
        class AddTaskPlanFormAjaxSubmit extends FormAjaxSubmit {
            submitted_form() {
                
            }
        }
        let add_task_plan_form_ajax = new AddTaskPlanFormAjaxSubmit();
        add_task_plan_modal = $('#addTaskPlanModalForm');

        $("#id_call_add_task_modal").on('click', function () {
            $("#id_call_add_task_modal").prop('disabled', true);
            $('#task-plan-detail-spin').show();
            let url = `{% url 'dashboard:planning:add_plan_task' %}`;
            add_task_plan_form_ajax.load_form('#add_plan_task', add_task_plan_modal, url).then(r => {
                $('#task-plan-detail-spin').hide();
                $("#id_call_add_task_modal").prop('disabled', false);
            }).catch(e => {
                $('#task-plan-detail-spin').hide();
                $("#id_call_add_task_modal").prop('disabled', false);
            });
            
        });
    </script>



    

{% endblock %}

{% block select2 %}
    <script type="text/javascript">
        $("#id_task_status").select2({
            placeholder: "{% translate 'Task Status' %}",
            allowClear: true
        });
        $("#id_task_type").select2({
            placeholder: "{% translate 'Task type' %}",
            allowClear: true
        });
        $("#id_username_facilitator_user").select2({
            placeholder: "{% translate 'Facilitators' %}",
            allowClear: true,
        });
        $("#id_canton").select2({
            placeholder: "{% translate 'Canton' %}",
            allowClear: true,
        });
        {% comment %} $('#id_canton option[value="1973"]').attr("selected",true);
        $('#id_canton').val("1973").trigger('change.select2'); {% endcomment %}
        $("#id_village").select2({
            placeholder: "{% translate 'Village' %}",
            allowClear: true,
        });

        $('b[role="presentation"]').hide();
        $('.facilitators-filter .select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}