{% load bootstrap4 static i18n custom_tags %}

<div class="card transparent">
    <div class="row">
        <div class="col-4">
            <div class="card h-75 bg-gradient-gray">
                <div class="card-body" >
                    <p>{% translate "Tasks Total" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">
                        {{ object.nbr_tasks|separate_with_space }}
                        <span style="font-size: 11px; margin-left: 12px; font-weight: bold;">[<a href="{% url 'dashboard:diagnostics:tasks_adl_diagnostics' %}">{% translate "See details" %}</a>]</span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card h-75 bg-gradient-indigo">
                <div class="card-body" >
                    <p>{% translate "Tasks Completed" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_completed|separate_with_space }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card h-75 bg-cyan">
                <div class="card-body" >
                    <p>{% translate "Tasks validated" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_validated|separate_with_space }}</p>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row">                    
        <div class="col-2">
            <div class="card h-75 bg-fuchsia">
                <div class="card-body" >
                    <p>{% translate "Tasks Waiting Validation" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_waiting_validation|separate_with_space }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75 bg-danger">
                <div class="card-body" >
                    <p>{% translate "Tasks Invalidated" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_invalidated|separate_with_space }}</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card h-75 bg-pink">
                <div class="card-body" >
                    <p>{% translate "Invalidated tasks reviewed by the facilitator (Pending validation)" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_invalidated_review_completed|separate_with_space }}</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card h-75 bg-gradient-danger">
                <div class="card-body" >
                    <p>{% translate "Tasks Invalidated Unreview by the facilitator" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.nbr_tasks_invalidated_unreview|separate_with_space }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75 bg-gradient-indigo">
                <div class="card-body" >
                    <p>{% translate "Percentage Completed" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.percentage_tasks_completed }} %</p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75 bg-cyan">
                <div class="card-body" >
                    <p>{% translate "Percentage of completed tasks validated" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">{{ object.percentage_tasks_completed_validated }} %</p>
                </div>
            </div>
        </div>
    </div>


    
    <div class="row">
        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "Community Facilitators" %}</p>
                    <p class="text-bold" style="font-size: 1.7em; cursor: pointer; text-decoration: underline;" 
                        data-toggle="modal" data-target="#card-item-facilitators-community">
                        {{ object.community_facilitators_count }}
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "Technical Facilitators" %}</p>
                    <p class="text-bold" style="font-size: 1.7em; cursor: pointer; text-decoration: underline;"
                        data-toggle="modal" data-target="#card-item-technical-facilitators">
                        {{ object.technical_facilitators_count }}
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "Supervisors" %}</p>
                    <p class="text-bold" style="font-size: 1.7em; cursor: pointer; text-decoration: underline;"
                        data-toggle="modal" data-target="#card-item-supervisors">
                        {{ object.supervisors_count }}
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "CDD Specialists" %}</p>
                    <p class="text-bold" style="font-size: 1.7em; cursor: pointer; text-decoration: underline;"
                        data-toggle="modal" data-target="#card-item-CDDSpecialists">
                        {{ object.CDDSpecialists_count }}
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "Specialists/Others" %}</p>
                    <p class="text-bold" style="font-size: 1.7em; cursor: pointer; text-decoration: underline;"
                        data-toggle="modal" data-target="#card-item-others-users">
                        {{ object.others_users_count }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card h-75">
                <div class="card-body" >
                    <p>{% translate "Total Users" %}</p>
                    <p class="text-bold" style="font-size: 1.7em;">
                        {{ object.total_users }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>



{% include "diagnostics/components/modals_users_list.html" %}



<script type="text/javascript">

        $(document).ready(function () {
            {% get_current_language as lang %}

            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "numeric-comma-pre": function (a) {
                    var x = parseFloat(a.replace(/\s+/g, '').replace(',', '.')); // Remove spaces and replace comma with dot
                    return isNaN(x) ? 0 : x;
                },
                "numeric-comma-asc": function (a, b) {
                    return a - b;
                },
                "numeric-comma-desc": function (a, b) {
                    return b - a;
                }
            });
            
            
            let users_ids_modals_tables = [
                "table-facilitators-community", "table-technical-facilitators", "table-supervisors", "table-CDDSpecialists", "table-others-users"
            ]
            let user_id_modal_table;
            const table_stats = {};
            for(var i=0; i<users_ids_modals_tables.length; i++){
                user_id_modal_table = users_ids_modals_tables[i];
                
                if ($.fn.DataTable.isDataTable(`#${user_id_modal_table}`)) {
                    $(`#${user_id_modal_table}`).DataTable().destroy();
                    $(`#${user_id_modal_table}`).empty(); 
                }

                table_stats[user_id_modal_table] = $(`#${user_id_modal_table}`).DataTable({
                    autoWidth: false,
                    responsive: true,
                    scrollX: false,
                    language: {
                        url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                    },
                    {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"CDDSpecialist" or user|has_group:"Evaluator" or user|has_group:"Supervisor" %}
                    columnDefs: [
                        { 
                            type: 'numeric-comma', targets: user_id_modal_table == "table-facilitators-community" ? [6, 7, 8, 9, 10, 11] : []
                        }
                    ],
                    {% else %}
                    columnDefs: [
                        { 
                            type: 'numeric-comma', targets: user_id_modal_table == "table-facilitators-community" ? [6, 7, 8, 9, 10] : []
                        }
                    ],
                    {% endif %}
                    {% comment %} dom: "ltipr",
                        columnDefs: [
                            {
                                targets: 1,
                                orderable: false,
                                searchable: false,
                            },

                            {
                                targets: 'no-sort', orderable: false
                            },
                        ], {% endcomment %}
                    dom: 'Blrtip',
                    buttons: ['copy', 'excel', 'pdf', 'colvis'],
                    lengthMenu: [10, 20, 30, 40, 43, 50, 60, 70, 80, 90, 100],
                    pageLength: 10,
                    order: []
                });
                $(`#${user_id_modal_table}-search`).on('keyup', function () {
                    table_stats[user_id_modal_table].search($(this).val()).draw();
                });
            }

                        
        });
    </script>