{% extends 'layouts/base.html' %}
{% load bootstrap4 static custom_tags i18n %}

{% block content %}

    <style>
    .expand-icon, .expand-act-icon {
        cursor: pointer;
    }
    .progress-bar {
        width: 5px;
        height: 30px;
        border-radius: 20px;
    }

    .progress-bar-gray {
        background-color: #D9D9D9;
    }

    .progress-bar-green {
        background-color: #63D3AC;
    }

    .progress-bar-red {
        background-color: #F0788E;
    }

    .progress-bar-yellow {
        background-color: #F2CD86;
    }

    .progress-bar-purple {
        background-color: #9095FF;
    }

    .progress-bar-dark-green {
        background-color: #44967D;
    }

    .progress-bar-purple-pink {
        background-color: #BA79B7;
    }

    .progress-bar-pink {
        background-color: #E9B9C2;
    }

    .information__progress {
        display: inline-flex;
        gap: 2px;
        padding-left: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
        background-color: #f2f2f2;
        margin-bottom: 1rem;
        border-radius: 10px;
        align-items: center;
        font-weight: bolder;
    }

    .header__item {
        padding: 0 5px 0 5px;
        border-right: 1px solid #d9d9d9;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
    }

    .header__item span {
        width: calc(100% - 25px);
    }

    .information {
        display: flex;
        flex-direction: row;
        box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 1rem;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
    }

    .information__item {
        padding: 10px 5px 10px 5px;
    }
    .information--selected {
        border: 1px solid #24c38b;
        background-color: rgb(36 195 139 / 2%);
    }

    .information__name, .header__name {
        text-align: left;
        width: 300px;
    }

    .information__population, .header__population {
        text-align: center;
        width: 70px;
    }

    .information__validated, .header__validated,
    .information__rejected, .header__rejected,
    .information__pending, .header__pending
    {
        text-align: center;
        width: 100px;
    }

    .header__completed, .information__completed {
        flex: 1;
        text-align: center;
    }

    .header__progress {
        width: 134px;
    }

    .header__item:first-of-type {
        border-right: 1px solid #d9d9d9;
    }

    .header__item:last-of-type {
        border-right: 0;
    }

    .header__progress-icon {
        border: 2px dashed;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .header__circle-icon {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        align-content: center;
        text-align: center;
    }

    .header__circle-icon {
        justify-content: center;
        display: flex;
        align-items: center;

        &.success {
            background-color: #24c38b;
            color: white;
        }

        &.error {
            background-color: #F0788E;
            color: white;
        }
    }

    .filters {
        display: inline-flex;
        flex-direction: row;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .filters__item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        height: 50px;
    }

    .filters__item:hover, .filters__item--selected {
        border-radius: 8px;
        background-color: #dedede;
    }

    .phase {
        width: 100%;
        color: white;
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }

    .phase__title {
        font-weight: bolder;
    }

    .phase--green, .phase--1 {
        background-color: #63D3AC;
    }

    .phase--red, .phase--2 {
        background-color: #F0788E;
    }

    .phase--yellow, .phase--3 {
        background-color: #F2CD86;
    }

    .phase--purple, .phase--4 {
        background-color: #9095FF;
    }

    .phase--dark-green, .phase--5 {
        background-color: #44967D;
    }

    .phase--purple-pink, .phase--6 {
        background-color: #BA79B7;
    }

    .phase--pink, .phase--7 {
        background-color: #E9B9C2;
    }

    .task-card {
        background-color: #00000017;
        color: white;
    }
</style>
<div class="card">
    <div class="col-12 pt-4">
        {% include 'facilitators/profile/components/profile-header.html' %}
        <hr />
        <div class="row m-2">
        {% with  dict_administrative_levels_with_infos|get:"villages" as villages %}
        <div class="col-12 col-md-8">
            <div class="header">
                <div class="header__item header__name">
                    {% translate 'Village' %}
                </div>
                <div class="header__item header__population">
                    {% translate 'Pop.' %}
                </div>
                <div class="header__item header__progress">
                    {% translate 'Progress' %}
                </div>
                <div class="header__item header__pending">
                    <span class="mr-2">{% translate 'A faire' %}</span> <div class="header__progress-icon"></div>
                </div>
                <div class="header__item header__completed">
                    <span class="mr-2">{% translate 'En validation' %}</span> <div class="header__circle-icon success"><i class="fas fa-check"></i></div>
                </div>
                <div class="header__item header__rejected">
                    <span class="mr-2">{% translate 'Rejeté' %}</span> <div class="header__circle-icon error"><i class="fas fa-times"></i></div>
                </div>
                <div class="header__item header__validated">
                    <span class="mr-2">{% translate 'Validé' %} </span><div class="header__circle-icon success"><i class="fas fa-check-double"></i></div>
                </div>
            </div>

             {% for Village in villages %}
                  <div class="information" id="{{ villages|get:Village|get:'id' }}" onclick="filterByVillage('{{ Village }}', '{{  villages|get:Village|get:'id'  }}')">

                        <div class="information__item information__name">
                            {{ Village }}
                        </div>
                        <div class="information__item information__population">
                            {{ villages|get:Village|get:'populationVillage'  }}
                        </div>
                        <div class="information__item information__progress">
                                    {% if villages|get:Village|get:"VISITES PREALABLES" %}
                                        <div class="progress-bar progress-bar-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"VISITES PREALABLES" %}
                                        <div class="progress-bar progress-bar-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PRÉPARATION SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CONSULTATION ET EXAMEN SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-dark-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CONSULTATION ET EXAMEN SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-dark-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MISE EN ŒUVRE DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MISE EN ŒUVRE DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                </div>
                        <div class="information__item information__pending">
                            {{ villages|get:Village|get:'total_tasks_pending'  }}
                        </div>
                        <div class="information__item information__completed">
                            {{ villages|get:Village|get:'total_tasks_completed'  }}
                        </div>
                        <div class="information__item information__rejected">
                            {{ villages|get:Village|get:'total_tasks_rejected'  }}
                        </div>
                        <div class="information__item information__validated">
                            {{ villages|get:Village|get:'total_tasks_validated'  }}
                        </div>
                    </div>
             {% endfor %}
            </div>

            <div class="col-md-4 col-12 justify-content-start"  id="admin_level_selected">
            <div class="row" id="admin_level_selected_detail">
                <div class="col-12 profile__name" id="villageName">
                    {{ village_name }}
                </div>
                <div class="card col-12 filters">
                    <strong class="col-auto">{% translate 'Filter by' %}</strong>
                    <div class="filters__item col-2" id="pendingStatus" onclick="filterBy('pending')">
                        <div class="header__progress-icon"></div>
                    </div>
                    <div class="filters__item col-2" id="completedStatus" onclick="filterBy('completed')">
                        <div class="header__circle-icon success"><i class="fas fa-check"></i></div>
                    </div>
                    <div class="filters__item col-2" id="rejectedStatus" onclick="filterBy('rejected')">
                        <div class="header__circle-icon error"><i class="fas fa-times"></i></div>
                    </div>
                    <div class="filters__item col-2"  id="validatedStatus" onclick="filterBy('validated')">
                        <div class="header__circle-icon success"><i class="fas fa-check-double"></i></div>
                    </div>
                     <strong class="col-auto" style="cursor: pointer;" id="allStatus" onclick="filterBy('all')">{% translate 'All' %}</strong>
                </div>
                    {%  for phase in phases %}
                       <div class="card phase phase--{{ phase.order }} flex-column col-12">
                            <div class="w-100 p-0 row align-items-start">
                                <div class="flex-column col mb-2">
                                    <div class="phase__title">
                                        {% translate 'Phase' %} {{ phase.order }}
                                    </div>
                                    <div class="phase__description">
                                        {{ phase.name }}
                                    </div>
                                </div>
                                <div class="ml-auto pointer-event fs20 expand-icon" id="icon{{ phase.order }}">
                                    <i class="fas fa-chevron-right cursor"></i>
                                </div>
                            </div>

                            <div class="w-100">
                                <div id="content{{ phase.order }}">
                                    {% for activity in activities_per_phase|get:phase.order %}
                                        <div class="card-item task-card">
                                            <div class="row">
                                                <div class="col-12">
                                                 <div class="w-100 p-0 row align-items-start">
                                                    <div class="flex-column col mb-2">
                                                        <div class="phase__title">
                                                            {% translate 'Etape' %} {{ activity.order }}: {{ activity.name }}
                                                        </div>

                                                    </div>
                                                    <div class="ml-auto pointer-event fs20 expand-act-icon" id="iconActivity{{ phase.order }}{{ activity.order }}">
                                                        <i class="fas fa-chevron-right cursor"></i>
                                                    </div>
                                                 </div>
                                                 <div class="phase__detail mt-1 text-center" id="phaseSpinner{{ phase.order }}{{ activity.order }}">
                                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                                 </div>
                                                 <div class="phase__description" id="activityDescription{{ phase.order }}{{ activity.order }}">
                                                     <strong>{% translate 'Description' %}</strong>: {{ activity.description }}
                                                     <br>
                                                     <br>
                                                 </div>
                                                 <div class="phase__detail" id="phaseDetail{{ phase.order }}{{ activity.order }}"></div>
                                                       <div id="pagination{{ phase.order }}{{ activity.order }}" class="text-right">
                                                            <a id="previous{{ phase.order }}{{ activity.order }}" class="btn hidden">
                                                                <i class="fa fa-chevron-left fs20 align-middle"></i>
                                                            </a>
                                                            <div id="currentPage{{ phase.order }}{{ activity.order }}" class="d-inline-block fs14 text-regular-family ml-4 mr-4"></div>
                                                            <a id="next{{ phase.order }}{{ activity.order }}" class="btn hidden">
                                                                <i class="fa fa-chevron-right fs20 align-middle"></i>
                                                            </a>
                                                        </div>
                                                 </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

            <div class="col-md-4 col-12 justify-content-center overlay" id="spin">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
            <div class="col-md-4 col-12 align-content-center text-center" id="no_admin_level_selected">
                        <img src="{% static 'images/house.png' %}" />
                        <div>{% translate 'Sélectionnez un village pour revoir leurs phases respectives' %}</div>
                  </div>
            </div>
        </div>
</div>
    {% endwith %}
</div>

</div>





{% endblock content %}


{% block javascript %}
    {{ block.super }}

    <script>
        let spin = $('#spin');
        let index = 0;
        const offset = 2;
        let previous = $('#previous');
        let next = $('#next');
        let current_page = $('#current-page');
        let administrative_level = $('#id_administrative_level');
        let phase = $('#id_phase');
        let activity = $('#id_activity');
        let task = $('#id_task');
        let no_admin_level_selected = $('#no_admin_level_selected');
        let admin_level_selected = $('#admin_level_selected');
        let admin_level_selected_detail = $('#admin_level_selected_detail');
        let is_validated = $('#id_is_validated');
        let adminLevelId = null;
        let isValidated = null;
        let isCompleted = null;
        let isPending = null;
        let isRejected = null;
        let phaseFilter = null;
        let phaseNumber = 1;
        let activityNumber = null;
        let activityFilter = null;

        function hideTask(hideContent=false) {
            document.querySelectorAll('[id^=phaseDetail]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=activityDescription]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=content]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=previous]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=next]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=currentPage]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=pagination]').forEach(element => element.hidden = true);
            document.querySelectorAll('[id^=phaseSpinner]').forEach(element => element.hidden = true);
            if(hideContent) {
                document.querySelectorAll('[id^=icon] .fas').forEach(element => element.classList = 'fas fa-chevron-right');
                document.querySelectorAll('[id^=iconActivity] .fas').forEach(element => element.classList = 'fas fa-chevron-right');
            }
        }

        hideTask(true);

        document.querySelectorAll('[id^=next' + phaseNumber + ']').forEach(element => {
            element.addEventListener('click', () => {
                document.querySelectorAll('[id^=pagination' + phaseNumber + ']').forEach(element => element.hidden = true);
                index += offset;
                loadTasks();
            })
        });

        document.querySelectorAll('[id^=previous' + phaseNumber + ']').forEach(element => {
            element.addEventListener('click', () => {
                document.querySelectorAll('[id^=pagination' + phaseNumber + ']').forEach(element => element.hidden = true);
                index -= offset;
                loadTasks();
            })
        });

        admin_level_selected.hide();
        spin.hide();


    function filterByVillage(village_name, admin_level_id) {
        no_admin_level_selected.hide();
        admin_level_selected.hide();
        hideTask(true);
        isValidated = null;
        isCompleted = null;
        isPending = null;
        isRejected = null;
        spin.show();
        if (adminLevelId == admin_level_id) {
             adminLevelId = null;
             $('#' + admin_level_id)[0].classList = "information";
             no_admin_level_selected.show();
             admin_level_selected.hide();
             spin.hide();
        } else {
            $('#villageName').html(village_name);
            if ($(".information--selected").length > 0) {
                 $(".information--selected")[0].classList = "information";
            }
            adminLevelId = admin_level_id;
             $('#' + admin_level_id)[0].classList = "information information--selected";
             spin.hide();
             admin_level_selected.show();
             admin_level_selected_detail.show();
        }
    }
    function iconPhaseClick() {
        hideTask(true);
        let id = +this.id.split('icon')[1];
        if($('#icon' + id + ' .fas')[0].classList.contains('fa-chevron-down') == false) {
            $('#icon' + id + ' .fas')[0].classList = 'fas fa-chevron-down';
            loadPhaseTasks(id);
        }
    }

    function iconActivityPhase() {
        document.querySelectorAll('[id^=phaseDetail]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=activityDescription]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=previous]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=next]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=currentPage]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=pagination]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=phaseSpinner]').forEach(element => element.hidden = true);
        document.querySelectorAll('[id^=iconActivity] .fas').forEach(element => element.classList = 'fas fa-chevron-right');

        let id = +this.id.split('iconActivity')[1];

        document.querySelectorAll('[id^=iconActivity' + phaseNumber + ']' + ' .fas').forEach(element => element.classList = 'fas fa-chevron-right');

        if($('#iconActivity' +  id + ' .fas')[0].classList.contains('fa-chevron-down') == false) {
            $('#iconActivity' + id + ' .fas')[0].classList = 'fas fa-chevron-down';
            let activity = id.toString().split(phaseNumber.toString());
            activity.shift()
            activity = activity.join('');
            if (activity == '') {
                activity = 1;
            }
            loadActivityTasks(activity);
        }
    }

    document.querySelectorAll('.expand-icon').forEach(element => element.addEventListener('click', iconPhaseClick));
    document.querySelectorAll('.expand-act-icon').forEach(element => element.addEventListener('click', iconActivityPhase));

    function loadPhaseTasks(number) {
        phaseFilter = number;
        phaseNumber = number;
        index = 0;
        hideTask();
        $('#content' + phaseNumber)[0].hidden = false;
    }

    
    function loadActivityTasks(number) {
        activityFilter = number;
        activityNumber = number;
        loadTasks();
    }
    
     function loadTasks() {
            $('#phaseSpinner' + phaseNumber + activityNumber)[0].hidden = false;
            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:facilitators:task_list' facilitator_db_name %}",
                data: {
                    index: index,
                    offset: offset,
                    administrative_level: adminLevelId,
                    phase: phaseFilter,
                    activity: activityFilter,
                    task: task.val(),
                    is_validated: isValidated,
                    is_completed: isCompleted,
                    is_pending: isPending,
                    is_rejected: isRejected
                },
                success: function (response) {
                    $('#phaseDetail' + phaseNumber + activityNumber)[0].innerHTML = response;
                    $('#phaseDetail' + phaseNumber + activityNumber)[0].hidden = false;
                    $('#activityDescription' + phaseNumber + activityNumber)[0].hidden = false;
                    $('#phaseSpinner' + phaseNumber + activityNumber)[0].hidden = true;
                    total_tasks = $('#totalActTasks')[0].value;
                    admin_level_selected_detail.hide();
                    no_admin_level_selected.hide();
                    admin_level_selected.show();
                    if (index - offset >= 0) {
                        $('#previous' + phaseNumber + activityNumber)[0].hidden = true;
                    } else {
                        $('#previous' + phaseNumber + activityNumber)[0].hidden = false;
                    }
                    if (index + offset < total_tasks) {
                        $('#next' + phaseNumber + activityNumber)[0].hidden = true;
                    } else {
                        $('#next' + phaseNumber + activityNumber)[0].hidden = false;
                    }
                    if (response.trim()) {
                        if (total_tasks == '0') {
                            $('#phaseDetail' + phaseNumber + activityNumber)[0].innerHTML = '<div class="text-center">{% translate 'No tasks found' %} </div>';
                            $('#pagination' + phaseNumber + activityNumber)[0].hidden = false
                        } else {
                            $('#currentPage' + phaseNumber + activityNumber)[0].innerHTML = Math.floor(index / offset) + 1 + " / " + Math.ceil(total_tasks / offset);
                            $('#pagination' + phaseNumber + activityNumber)[0].hidden = true
                        }
                    } else {
                        $('#currentPage' + phaseNumber + activityNumber)[0].innerHTML = "";
                    }
                    spin.hide();
                    admin_level_selected_detail.show();
                },
                error: function (data) {
                    spin.hide();
                    alert(error_server_message + "Error " + data.status);
                    current_page.html("");
                }
            });
        }


        function filterBy(field) {
            if (field == 'validated') {
                isPending = null;
                isCompleted = null;
                isRejected = null;
                if (isValidated) {
                    isValidated = null;
                    $('#validatedStatus')[0].classList = 'filters__item col-2';
                } else {
                    isValidated = true;
                    $('#validatedStatus')[0].classList = 'filters__item filters__item--selected col-2';
                    $('#rejectedStatus')[0].classList = 'filters__item col-2';
                    $('#pendingStatus')[0].classList = 'filters__item col-2';
                    $('#completedStatus')[0].classList = 'filters__item col-2';
                    $('#allStatus')[0].classList = 'filters__item col-2';
                }
            } else if (field == 'completed') {
                isValidated = null;
                isPending = null;
                isRejected = null;
                if (isCompleted) {
                    isCompleted = null;
                    $('#completedStatus')[0].classList = 'filters__item col-2';
                } else {
                    isCompleted = true;
                    $('#completedStatus')[0].classList = 'filters__item filters__item--selected col-2';
                    $('#rejectedStatus')[0].classList = 'filters__item col-2';
                    $('#pendingStatus')[0].classList = 'filters__item col-2';
                    $('#validatedStatus')[0].classList = 'filters__item col-2';
                    $('#allStatus')[0].classList = 'filters__item col-2';
                }
            } else if (field == 'pending') {
                isValidated = null;
                isCompleted = null;
                isRejected = null;
                if (isPending) {
                    isPending = null;
                    $('#pendingStatus')[0].classList = 'filters__item col-2';
                } else {
                    isPending = true;
                    $('#pendingStatus')[0].classList = 'filters__item filters__item--selected col-2';
                    $('#rejectedStatus')[0].classList = 'filters__item col-2';
                    $('#validatedStatus')[0].classList = 'filters__item col-2';
                    $('#completedStatus')[0].classList = 'filters__item col-2';
                    $('#allStatus')[0].classList = 'filters__item col-2';
                }
            } else if (field == 'rejected') {
                isValidated = null;
                isCompleted = null;
                isPending = null;
                if (isRejected) {
                    isRejected = null;
                    $('#rejectedStatus')[0].classList = 'filters__item col-2';
                } else {
                    isRejected = true;
                    $('#rejectedStatus')[0].classList = 'filters__item filters__item--selected col-2';
                    $('#validatedStatus')[0].classList = 'filters__item col-2';
                    $('#pendingStatus')[0].classList = 'filters__item col-2';
                    $('#completedStatus')[0].classList = 'filters__item col-2';
                    $('#allStatus')[0].classList = 'filters__item col-2';
                }
            } else {
                isValidated = null;
                isPending = null;
                isRejected = null;
                isCompleted = null;
                $('#pendingStatus')[0].classList = 'filters__item col-2';
                $('#rejectedStatus')[0].classList = 'filters__item col-2';
                $('#validatedStatus')[0].classList = 'filters__item col-2';
                $('#completedStatus')[0].classList = 'filters__item col-2';
                $('#allStatus')[0].classList = 'filters__item filters__item--selected col-2';
            }
            for(let i  = 1; i < 8; i++) {
                $('#pagination' + i).hide();
            }
            loadTasks();
        }

    </script>
    <script src="{% static 'js/cascade_requests.js' %}"></script>

{% endblock %}
