{% extends 'layouts/base.html' %}
{% load bootstrap4 static custom_tags i18n %}

{% block content %}

    <style>
    .progress-bar {
        width: 5px;
        height: 30px;
        border-radius: 20px;
    }

    .progress-bar-gray {
        background-color: #D9D9D9;
    }

    .progress-bar-green {
        background-color: #63D3AC;
    }

    .progress-bar-red {
        background-color: #F0788E;
    }

    .progress-bar-yellow {
        background-color: #F2CD86;
    }

    .progress-bar-purple {
        background-color: #9095FF;
    }

    .progress-bar-dark-green {
        background-color: #44967D;
    }

    .progress-bar-purple-pink {
        background-color: #BA79B7;
    }

    .progress-bar-pink {
        background-color: #E9B9C2;
    }

    .information__progress {
        display: inline-flex;
        gap: 2px;
        padding-left: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
        background-color: #f2f2f2;
        margin-bottom: 1rem;
        border-radius: 10px;
        align-items: center;
        font-weight: bolder;
    }

    .header__item {
        padding: 10px 5px 10px 5px;
        border-right: 1px solid;
        display: inline-flex;
        justify-content: center;
    }

    .information {
        display: flex;
        flex-direction: row;
        box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 1rem;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
    }

    .information__item {
        padding: 10px 5px 10px 5px;
    }
    .information--selected {
        border: 1px solid #24c38b;
        background-color: rgb(36 195 139 / 2%);
    }

    .information__name, .header__name {
        text-align: left;
        width: 300px;
    }

    .information__population, .header__population {
        text-align: center;
        width: 70px;
    }

    .information__validated, .header__validated,
    .information__rejected, .header__rejected,
    .information__pending, .header__pending
    {
        text-align: center;
        width: 100px;
    }

    .header__completed, .information__completed {
        flex: 1;
        text-align: center;
    }

    .header__progress {
        width: 134px;
    }

    .header__item:first-of-type {
        border-right: 1px solid;
    }

    .header__item:last-of-type {
        border-right: 0;
    }

    .header__progress-icon {
        border: 2px dashed;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .header__circle-icon {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        align-content: center;
        text-align: center;
    }

    .header__circle-icon {
        &.success {
            background-color: #24c38b;
            color: white;
        }

        &.error {
            background-color: #F0788E;
            color: white;
        }
    }
</style>
<div class="card">
    <div class="col-12 pt-4">
        {% include 'facilitators/profile/components/profile-header.html' %}
        <hr />
        <div class="row m-2">
        {% with  dict_administrative_levels_with_infos|get:"villages" as villages %}
        <div class="col-8">
            <div class="header">
                <div class="header__item header__name">
                    {% translate 'Village' %}
                </div>
                <div class="header__item header__population">
                    {% translate 'Pop.' %}
                </div>
                <div class="header__item header__progress">
                    {% translate 'Progress' %}
                </div>
                <div class="header__item header__pending">
                    <span class="mr-2">{% translate 'A faire' %}</span> <div class="header__progress-icon"></div>
                </div>
                <div class="header__item header__completed">
                    <span class="mr-2">{% translate 'En cours de validation' %}</span> <div class="header__circle-icon success"><i class="fas fa-check"></i></div>
                </div>
                <div class="header__item header__rejected">
                    <span class="mr-2">{% translate 'Rejeté' %}</span> <div class="header__circle-icon error"><i class="fas fa-times"></i></div>
                </div>
                <div class="header__item header__validated">
                    <span class="mr-2">{% translate 'Validé' %} </span><div class="header__circle-icon success"><i class="fas fa-check-double"></i></div>
                </div>
            </div>

             {% for Village in villages %}
                  <div class="information" id="{{ villages|get:Village|get:'id' }}" onclick="filterByVillage('{{  villages|get:Village|get:'id'  }}')">

                        <div class="information__item information__name">
                            {{ Village }}
                        </div>
                        <div class="information__item information__population">
                            {{ villages|get:Village|get:'populationVillage'  }}
                        </div>
                        <div class="information__item information__progress">
                                    {% if villages|get:Village|get:"VISITES PREALABLES" %}
                                        <div class="progress-bar progress-bar-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"VISITES PREALABLES" %}
                                        <div class="progress-bar progress-bar-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MOBILISATION COMMUNAUTAIRE" %}
                                        <div class="progress-bar progress-bar-red"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PLANIFICATION" %}
                                        <div class="progress-bar progress-bar-yellow"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"PRÉPARATION SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CONSULTATION ET EXAMEN SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-dark-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CONSULTATION ET EXAMEN SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-dark-green"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MISE EN ŒUVRE DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"MISE EN ŒUVRE DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-purple-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                    {% if villages|get:Village|get:"CLOTURE ET REPLANIFICATION DU SOUS-PROJET" %}
                                        <div class="progress-bar progress-bar-pink"></div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-gray"></div>
                                    {% endif %}

                                </div>
                        <div class="information__item information__pending">
                            {{ villages|get:Village|get:'total_tasks_pending'  }}
                        </div>
                        <div class="information__item information__completed">
                            {{ villages|get:Village|get:'total_tasks_completed'  }}
                        </div>
                        <div class="information__item information__rejected">
                            {{ villages|get:Village|get:'total_tasks_rejected'  }}
                        </div>
                        <div class="information__item information__validated">
                            {{ villages|get:Village|get:'total_tasks_validated'  }}
                        </div>
                    </div>
             {% endfor %}
            </div>

            <div class="col-4 justify-content-start"  id="admin_level_selected"></div>

            <div class="col-4 justify-content-center overlay" id="spin">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
            <div class="col-4 align-content-center text-center" id="no_admin_level_selected">
                        <img src="{% static 'images/house.png' %}" />
                        <div>{% translate 'Sélectionnez un village pour revoir leurs phases respectives' %}</div>
                  </div>
            </div>
        </div>
</div>
    {% endwith %}
</div>

</div>





{% endblock content %}


{% block javascript %}
    {{ block.super }}

    <script>
    let spin = $('#spin');
        let index = 0;
        const offset = 10;
        let previous = $('#previous');
        let next = $('#next');
        var total_tasks = parseInt("{{ total_tasks }}");
        let current_page = $('#current-page');
        let administrative_level = $('#id_administrative_level');
        let phase = $('#id_phase');
        let activity = $('#id_activity');
        let task = $('#id_task');
        let no_admin_level_selected = $('#no_admin_level_selected');
        let admin_level_selected = $('#admin_level_selected');
        let admin_level_selected_detail = $('#admin_level_selected_detail');
        let is_validated = $('#id_is_validated');
        admin_level_selected.hide();
        spin.hide();
        let adminLevelId = null;
        let isValidated = null;
        let isCompleted = null;
        let isPending = null;
        let isRejected = null;

    function filterByVillage(admin_level_id) {
        no_admin_level_selected.hide();
        admin_level_selected.hide();
        isValidated = null;
        isCompleted = null;
        isPending = null;
        isRejected = null;
        spin.show();
        if (adminLevelId == admin_level_id) {
             adminLevelId = null;
             $('#' + admin_level_id)[0].classList = "information";
             no_admin_level_selected.show();
             admin_level_selected.hide();
             spin.hide();
        } else {
            if ($(".information--selected").length > 0) {
                 $(".information--selected")[0].classList = "information";
            }
            adminLevelId = admin_level_id;
             $('#' + admin_level_id)[0].classList = "information information--selected";
            loadTasks();
        }
    }


     function loadTasks() {
            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:facilitators:task_list' facilitator_db_name %}",
                data: {
                    index: index,
                    offset: offset,
                    administrative_level: adminLevelId,
                    phase: phase.val(),
                    activity: activity.val(),
                    task: task.val(),
                    is_validated: isValidated,
                    is_completed: isCompleted,
                    is_pending: isPending,
                    is_rejected: isRejected
                },
                success: function (response) {
                    admin_level_selected.html(response);
                    admin_level_selected_detail.hide();
                    no_admin_level_selected.hide();
                    admin_level_selected.show();

                    if (index - offset >= 0) {
                        previous.show();
                    } else {
                        previous.hide();
                    }
                    if (index + offset < total_tasks) {
                        next.show();
                    } else {
                        next.hide();
                    }
                    if (response.trim()) {
                        current_page.html(Math.floor(index / offset) + 1 + " / " + Math.ceil(total_tasks / offset));
                    } else {
                        current_page.html("")
                    }
                    spin.hide();
                    admin_level_selected_detail.show();
                },
                error: function (data) {
                    spin.hide();
                    alert(error_server_message + "Error " + data.status);
                    current_page.html("");
                }
            });
        }


        function filterBy(field) {
            isValidated = null;
            isCompleted = null;
            isPending = null;
            isRejected = null;
            no_admin_level_selected.hide();
            admin_level_selected.hide();
            spin.show();
            if (field == 'validated') {
                isValidated = isValidated ? null : true;
            } else if (field == 'completed') {
                isCompleted = isCompleted  ? null : true;
            } else if (field == 'pending') {
                isPending = isPending ? null : true;
            } else if (field == 'rejected') {
                isRejected = isRejected ? null : true;
            }
            loadTasks();
        }

    </script>
    <script src="{% static 'js/cascade_requests.js' %}"></script>

{% endblock %}
